<ion-view view-title="ข้อมูลตัวแทน"  >
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

            <div class="divInsuranceNo" style="border:0px solid red;  margin-top:0px;">
                <div style="float:left;width:50%; height:30px;"  class="SubHeaderData">
                    <div align="right">เลือกตัวแทน >>></div>
                </div>



                <div>

                    <select style="width:50%; height:30px;"  ng-model="ddlSelectAgent" ng-change="loadOrder(ddlSelectAgent)">

                        <option value=''>กรุณาเลือก</option>
                        <option ng-repeat="objAgentUnderCtrl in ListAgentUnderCtrl" value="{{objAgentUnderCtrl.Ascode}} " >{{objAgentUnderCtrl.Asname + ' ' + objAgentUnderCtrl.Assname}}</option>
                    </select>
                </div>
            </div>


            <div class="item-input-inset">
                <input auto-complete placeholder=" Search" ng-model="Agentsearch.Asname"
                    style="width:100%; padding-left:11px;" >

                    </div>
            <div style="padding-left:10px;">
                รายชื่อตัวแทน
            </div>
            <ion-list>
                <ion-item  type="item-text-wrap" href="#" ng-click="loadOrder(AgentMem.Ascode)"
                    ng-repeat="AgentMem in AgentMember | filter:Agentsearch | limitTo:listlength">
                    <!--{{AGMem.Ascode + "  " +AGMem.Asname + " " + AGMem.Assname}}-->



                    <div style="float:left; width: 99%; white-space: normal;" ng-if="AgentMem.Asstatus=='0'">
                        <!--{{AgentMem.Ascode + " " + AgentMem.Asname + " " + AgentMem.Assname}}-->
                        {{AgentMem.Asname + " " + AgentMem.Assname}}
                    </div>
                    <div style="float:left; width: 99%; white-space: normal;"  ng-if="AgentMem.Asstatus=='1'">
                        <!--{{AgentMem.Ascode + " " + AgentMem.Asname + " " + AgentMem.Assname + " *"}}-->
                        {{AgentMem.Asname + " " + AgentMem.Assname + " *"}}
                    </div>

                    <div>
                        <i class="icon ion-chevron-right"></i>
                    </div>


                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="listlength<=AgentMember.length"
                on-infinite="loadMore()" distance="3%">
            </ion-infinite-scroll>






            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>




        </ion-scroll>
    </ion-content>
</ion-view>
