<ion-view title="สาขา">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            
            <div>
            <div style="border:1px solid #0190A1; padding-top:0px; padding-bottom:10px;">
                <div class="MainHeaderBar">สำนักงานใหญ่</div>
                  <div ng-repeat="objHeadOffice in HeadOffice">

                    <div style="padding-left: 10px; padding-right: 10px;" >

                      <div style="height:auto;">
                        <div class="ContentText">
                            {{HeadOffice.Descript}}
                        </div>

                        <div>

                          <div style="padding-top: 5px;">
                              <!--<div style="float:left;" class="ContentText ion-ios-location"></div><div style="padding-left: 10px;">{{objHeadOffice.Addline1}}</div>
                              <div style="float:left;" class="ContentText">&nbsp;&nbsp;</div><div style="padding-left: 10px;">{{objHeadOffice.Addline2}}</div>
                              <div style="float:left;" class="ContentText"></div><div style="padding-left: 10px;">{{objHeadOffice.Adddist}} จ.{{objHeadOffice.Addprov}} {{objHeadOffice.Addpost}}</div>-->
                              
                              <table style="border:0px solid black;">
                                  <tr>
                                      <td>
                                          <div style="float:left;" class="ContentText ion-ios-location"></div>
                                      </td>
                                      
                                      
                                      <td>
                                          <div style="padding-left: 10px;">{{objHeadOffice.Addline1}}</div>
                                      </td>
                                  </tr>
                                  
                                  <tr>
                                      <td>
                                          <div style="float:left;" class="ContentText"></div>
                                      </td>
                                      
                                      
                                      <td>
                                          <div style="padding-left: 10px;">{{objHeadOffice.Addline2}}</div>
                                      </td>
                                  </tr>
                                  
                                  <tr>
                                      <td>
                                          <div style="float:left;" class="ContentText"></div>
                                      </td>
                                      
                                      
                                      <td>
                                          <div style="padding-left: 10px;">{{objHeadOffice.Adddist}} {{objHeadOffice.Addprov}} {{objHeadOffice.Addpost}}</div>
                                      </td>
                                  </tr>
                              </table>
                              
                              
                          </div>
                          <div>
                              <div >

                                <div style="padding-top: 5px;">
                                    <div class="ContentText ion-ios-telephone" style="float:left;"></div>
                                    <!--<div style="padding-left: 10px;">
                                        <a href="tel: objHeadOffice.Addtel">{{ConvertToPhoneFormat(objHeadOffice.Addtel)}}</a>
                                    </div>-->
                                    <div ng-repeat="ObjTel in objHeadOffice.ListTel" style="padding-left: 10px;">
                                        <a href="tel: {{ObjTel}}">{{ConvertToPhoneFormat(ObjTel)}}</a>
                                    </div>
                                </div>
                                <div style="padding-top: 5px;">
                                    <div class="ContentText ion-ios-printer-outline" style="float:left;"></div>
                                    <div ng-repeat="ObjFax in objHeadOffice.ListFax" style="padding-left: 10px;">
                                        <a href="tel: {{ObjFax}}">{{ConvertToPhoneFormat(ObjFax)}}</a>
                                    </div>
                                </div>
                                <br/>
                                <div>
                                    <!--<div style="float:left;" class="ContentText ion-ios-email" ></div><div style="font-size:12px;">{{HeadOffice.HeadOfficeEmail}}</div>-->
                                </div>
                              </div>



                                  <div style="border:0px solid black;" ng-if="HeadOffice.Latitude != ''" ui-sref="app.Map({ lat: objHeadOffice.Latitude ,lng: objHeadOffice.Longitude })">

                                    <div ui-sref="app.Map({ lat: objHeadOffice.Latitude ,lng: objHeadOffice.Longitude })">
                                      <div id="map" lat="{{objHeadOffice.Latitude}}" lng="{{objHeadOffice.Longitude}}" zoom="16" map style="width:100%;">

                                      </div>
                                    </div>

                                  </div>


                            </div>

                        </div>

                      </div>


                    </div>

                </div>
            </div>


            <!--<div class="MainHeaderBar">ข้อมูลสาขา</div>-->

            <div class="SubHeaderData">ข้อมูลสาขา : กรุณาเลือกจังหวัด</div>
            <div class="SubHeaderData" style="padding-right:10px; height:30px;">
              <select style="width:100%;" ng-model="ddlSelectProv" ng-change="GetBranchByProv(ddlSelectProv)">
                <option value=''>กรุณาเลือก</option>
                <option ng-repeat="objBranchProv in ListBranchProv" value="{{objBranchProv.THProvince}} ">{{objBranchProv.THProvince}}</option>
              </select>
            </div>
            <div>
                <div class="MainHeaderBar">สาขา</div>
                <div ng-repeat="objBranchByProv in ListBranchByProv">

                  <div style="padding-left: 10px; padding-right: 10px;">

                    <div style="height:Auto;">


                        <div class="ContentText">
                          {{objBranchByProv.Descript}}
                        </div>

                        <!--<div ui-sref="app.Map({ lat: objBranchByProv.Latitude ,lng: objBranchByProv.Longitude })">-->
                        <div>

                          <div>
                            <div style="padding-top: 5px;" ng-if="objBranchByProv.Addline1 != ''">
                                
                                <table>
                                    <tr>
                                        <td>
                                            <div style="float:left;" class="ContentText ion-ios-location"></div>
                                        </td>
                                        
                                        
                                        <td>
                                            <div style="padding-left: 10px;">{{objBranchByProv.Addline1}}</div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div style="float:left;" class="ContentText"></div>
                                        </td>
                                        
                                        
                                        <td>
                                            <div style="padding-left: 10px;">{{objBranchByProv.Addline2}}</div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div style="float:left;" class="ContentText"></div>
                                        </td>
                                        
                                        
                                        <td>
                                            <div style="padding-left: 10px;">{{objBranchByProv.Adddist}} {{objBranchByProv.Addprov}} {{objBranchByProv.Addpost}}</div>
                                        </td>
                                    </tr>
                                </table>
                   
                                
                            </div>
                            <div >

                              <!--<div style="padding-top: 5px;" ng-if="objBranchByProv.Addtel != ''">
                                  <div style="float:left;" class="ContentText ion-ios-telephone"></div>
                                  <a href="tel: {{objBranchByProv.Addtel}}">{{ConvertToPhoneFormat(objBranchByProv.Addtel)}}</a>
                              </div>
                              <div style="padding-top: 5px;" ng-if="objBranchByProv.Addfax != ''">
                                  <div style="float:left;" class="ContentText ion-ios-printer-outline"></div>
                                  <a href="tel: {{objBranchByProv.Addfax}}">{{ConvertToPhoneFormat(objBranchByProv.Addfax)}}</a>
                              </div>-->
                              
                              <table>
                                  <tr>
                                      <td>
                                          <div class="ContentText ion-ios-telephone" style="float:left;"></div>
                                      </td>
                                      
                                      
                                      <td>
                                          <div ng-repeat="ObjTel in objBranchByProv.ListTel" style="padding-left: 10px;">
                                              <a href="tel: {{ObjTel}}">{{ConvertToPhoneFormat(ObjTel)}}</a>
                                          </div>
                                      </td>
                                  </tr>
                                  
                                  <tr>
                                      <td>
                                          <div class="ContentText ion-ios-printer-outline" style="float:left;"></div>
                                      </td>
                                      
                                      
                                      <td>
                                          <div ng-repeat="ObjFax in objBranchByProv.ListFax" style="padding-left: 10px;">
                                              <a href="tel: {{ObjFax}}">{{ConvertToPhoneFormat(ObjFax)}}</a>
                                          </div>
                                      </td>
                                  </tr>
                                  
                                  
                              </table>
                              
                              
                              
    
    
                              
                              <div>
                                  <!--<div style="float:left;" class="ContentText ion-ios-email" ></div><div style="font-size:12px;">-</div>-->
                              </div>
                            </div>
                          </div>

                          <div style="display: inline; width:80%; border:0px solid black;" align="center" ng-if="objBranchByProv.Latitude != ''">
                            <div ui-sref="app.Map({ lat: objBranchByProv.Latitude ,lng: objBranchByProv.Longitude })">
                              <div id="map" lat="{{objBranchByProv.Latitude}}" lng="{{objBranchByProv.Longitude}}" zoom="16" map style="width:100%;">

                              </div>
                            </div>

                          </div>

                        </div>



                    </div>


                      <!--<div style="float:left; display: inline; width:25%; border:0px solid black;">
                        <div ui-sref="app.Map({ lat: objBranchByProv.latitude ,lng: objBranchByProv.longitude })">
                          <div id="map" lat="{{objBranchByProv.latitude}}" lng="{{objBranchByProv.longitude}}" zoom="16" map>

                          </div>
                        </div>

                      </div>-->

                    </div>

                    <hr class="style-one"></hr>
                </div>
            </div>

        </div>
        
        
        <div class="BottomPage">
            &nbsp;</br>&nbsp;
        </div>
        
        </ion-scroll>
    </ion-content>
</ion-view>
