<ion-view
  title="ติดต่อเรา"
  cache-view="false"
  class="MainContentFresh view-ctc-setting-with-bg"
>
  <ion-content class="has-header">
    <ion-scroll
      zooming="true"
      direction="xy"
      min-zoom="1"
      overflow-scroll="false"
    >
      <div style="border:0px solid blue; width:100%; height: 100%;">
        <div class="MainHeaderBar">
          ติดต่อเรา
          <!--| ลูกค้ารายบุคคล-->
        </div>

        <div style="border:0px solid black; width:100%; position: fixed;">
          <div style="border:0px solid red;" align="center">
            <div
              class="CTCContent metro-surface"
              style="border:0px solid yellow; "
            >
              <div
                style="display: table; border:0px solid blue; vertical-align: middle; "
                class="divCTC"
              >
                <div
                  align="center"
                  style="display: table-cell;"
                  class="divCTCDetail"
                >
                  <table style="width:100%;  border:0px solid black;">
                    <tr>
                      <td
                        colspan="2"
                        class="metro-tile metro-tile-ctc metro-tile-CTCAddress"
                      >
                        <table
                          align="center"
                          style="border:0px solid red; width:100%;"
                        >
                          <tr>
                            <td align="center">
                              <img
                                id=""
                                class="CTCImg"
                                src="Resources/images/CTCaddress.png"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td align="center" class="CTCTopic">
                              <!--มาเยี่ยมชม หรือ <br/> เขียนจดหมายถึงเราที่-->
                              <div>
                                <p
                                  data-ng-bind-html="CTC4Caption"
                                  class="CTCBindingText"
                                ></p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              class="CTCDetail"
                              style="white-space: normal; word-break:break-all;"
                            >
                              <!--<div>บริษัทโตเกียวมารีนประกันชีวิต</div>
                                            <div>(ประเทศไทย) จำกัด มหาชน</div>
                                            <div>เลขที่ 1 อาคารเอ็มไพร์ทาวเวอร์</div>
                                            <div>ชั้น 26 ถนนสาทรใต้ แขวงยานนาวา</div>
                                            <div>เขตสาทร กรุงเทพฯ 10120</div>-->
                              <div>
                                <p
                                  data-ng-bind-html="CTC4Val"
                                  class="CTCBindingText"
                                ></p>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="metro-tile metro-tile-ctc metro-tile-CTCCallCenter"
                        width="50%"
                      >
                        <table
                          align="center"
                          style="border:0px solid red; width:100%;"
                        >
                          <tr>
                            <td align="center">
                              <img
                                id=""
                                class="CTCImg"
                                src="Resources/images/CTCphone.png"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <!--บริการผู้ถือกรมธรรม์-->
                              <div class="CTCTopic">
                                <p
                                  data-ng-bind-html="CTC1Caption"
                                  class="CTCBindingText"
                                ></p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <div class="CTCDetail">
                                <p
                                  data-ng-bind-html="CTC1Val"
                                  class="CTCBindingText"
                                ></p>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td
                        class="metro-tile metro-tile-ctc metro-tile-CTCEmail"
                        width="50%"
                        style="white-space: normal; word-break:break-all;"
                      >
                        <table
                          align="center"
                          style="border:0px solid red; width:100%;"
                        >
                          <tr>
                            <td align="center">
                              <img
                                id=""
                                class="CTCImg"
                                src="Resources/images/CTCmail.png"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td align="center" class="CTCTopic">
                              <!--ส่งอีเมล์ถึงเรา-->
                              <div>
                                <p
                                  data-ng-bind-html="CTC2Caption"
                                  class="CTCBindingText"
                                ></p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              class="CTCDetail"
                              style="white-space: normal;"
                            >
                              <div ng-click="SendMailContactUs()">
                                <p
                                  data-ng-bind-html="CTC2Val"
                                  class="CTCBindingText"
                                ></p>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div align="right" class="DivFooter" style="border:0px solid red;">
          <div align="center">
            <div>เวลาให้บริการวันจันทร์ - วันศุกร์</div>
            <div style="padding-top:1px;">เวลา 8:30 - 17:00 น.</div>
          </div>
        </div>
      </div>

      <!--<div class="BottomPage">
    &nbsp;</br>&nbsp;
</div>-->
    </ion-scroll>
  </ion-content>
</ion-view>

<script id="ModalSendMailDownload.tmpl.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar>
  <h1 class="title">Send Mail</h1>
  </ion-header-bar>

  <ion-content>


  <div class="MainHeaderBar" style="height:20px; padding-top:1px;">
  Email
  </div>

  <div class="list" style="border:1px solid green;">



  <label class="item item-input item-floating-label">
  <span class="input-label">To</span>
  <input type="text" style="width:100%;" placeholder="To : somemail@mail.com" ng-model="MailTo_Modal.text" ng-blur="ValidateMailToFormat(MailTo_Modal.text)">
  <div style="float:left; color:red;" >{{MailToMsg}}</div>
  </label>

  <label class="item item-input item-floating-label">
  <span class="input-label">CC</span>
  <input type="text" style="width:100%;" placeholder="CC : somemail@mail.com" ng-model="MailCC_Modal.text" ng-blur="ValidateMailCCFormat(MailCC_Modal.text)">
  <div style="float:left; color:red;" >{{MailCCMsg}}</div>
  </label>

  <label class="item item-input item-floating-label">
  <span class="input-label">BCC</span>
  <input type="text" style="width:100%;" placeholder="BCC : somemail@mail.com" ng-model="MailBCC_Modal.text" ng-blur="ValidateMailBCCFormat(MailBCC_Modal.text)">
  <div style="float:left; color:red;" >{{MailBCCMsg}}</div>
  </label>

  <label class="item item-input item-floating-label">
  <span class="input-label">Subject</span>
  <input type="text" style="width:100%;" placeholder="Subject" ng-model="MailSubject_Modal.text">
  <div style="float:left; color:red;" >{{MailSubjectMsg}}</div>
  </label>



  <label class="item item-input item-floating-label">
  <span class="input-label">Detail</span>
  <textarea name="txtMailDetail" cols="40" rows="4" placeholder="Detail" ng-model="MailDetail_Modal.text"></textarea>
  <div style="float:left; color:red;" >{{MailDetailMsg}}</div>
  </label>




  </div>

  <div align="center">

  <button class="TokioBtn" style="width:100px; height:30px;" ng-click="SendMailProcess(false)">
  Cancel
  </button>

  <button class="TokioBtn" style="width:100px; height:30px;" ng-click="SendMailProcess(true)">
  Send Mail
  </button>

  <!--<h1>Msg : {{AttachedFile.File}}</h1>-->

  </div>

  <br/>

  </ion-content>
  </ion-modal-view>
</script>
