<ion-view view-title="ตั้งค่ารหัสผ่าน" class="MainContentFresh view-home-with-bg">
  <ion-content>
      <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

    <div>

      <!--<ion-item nav-clear menu-close class="DivLoginMenu">
        <div class="DivLogin">
          <h4 id="DivLoginText" class="DivLoginText">Touch Point</h4>
          <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/TouchPoint.png">
        </div>
      </ion-item>-->
      <div align="center" class="divPage">
      
      <div class="DivLoginMenu">
          <div class="DivLogin">
              
              <div class="DivLogin">
                  
                  <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/Icon_to_touch_point_edit-01.png">
                      <!--<h2  class="DivVersionText">V.0.1.16090xx</h2>-->
                      
                </div>
          </div>
          
      </div>
      
      
      <div class="MainHeaderBar">
        ตั้งค่ารหัสผ่าน
      </div>



    <div class="list">


        <label class="item item-input item-floating-label">
          <span class="input-label">รหัสผ่านใหม่</span>
          <input type="password" placeholder="รหัสผ่านใหม่" class="input-login" ng-model="NewPwd" ng-blur="IsValidPWD(NewPwd)" maxlength="20">
              <div style="float:left; color:red;" class="wordwrap" >{{PWDMsg}}</div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">ยืนยันรหัสผ่านใหม่</span>
          <input type="password" placeholder="ยืนยันรหัสผ่านใหม่" class="input-login" ng-model="ConfirmPwd" ng-blur="IsValidConfirmPWD(ConfirmPwd)" maxlength="20">
              <div style="float:left; color:red;" class="wordwrap" >{{ConfirmPWDMsg}}</div>
        </label>


    </div>


    <div class="padding">
      <button class="button button-block button-positive TokioBtn" ng-click="Submit(NewPwd,ConfirmPwd)">
        ยืนยัน
      </button>
    </div>

    </div>
      
  </div>

        </ion-scroll>
  </ion-content>
</ion-view>
