<!--<ion-view title="ข้อมูลสมาชิก">-->
<ion-view view-title="ข้อมูลลูกค้า"  >
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">




            <div class="item-input-inset">
                <input auto-complete placeholder=" Search" ng-model="AGCsearch.Insured"
                    style="width:100%; padding-left:11px;">

            </div>

            <div class="SubHeaderData2">รายการลูกค้า</div>

            <!--<div align="center" ng-if="(ListCust == null) || (ListCust.length == 0)">
                <h5>ไม่พบรายการลูกค้า</h5>
            </div>-->
            <div align="center">
                <h5>{{txtPageLoad}}</h5>
            </div>

            <div ng-if="(ListCust != null) && (ListCust.length != 0)">
                <ion-list>
                    <!--<ion-item click-for-options ng-repeat="objCust in ListCust" item="objCust">-->
                    <ion-item click-for-options ng-repeat="objCust in ListCust | filter:AGCsearch | limitTo:listlength" item="objCust">


                        <div style="float:left; width: 99%;">
                            <div style="float:left;" class="ContentText"><!--ชื่อ - สกุล:--> &nbsp; </div>
                            <!--<div align="right" class="ContentData" >{{objCust.Chdrnum + " " + objCust.Insured}}</div>-->
                            <!--<div align="right" class="ContentData" >{{objCust.Clntnum_ins + " " + objCust.Insured}}</div>-->
                            <!--<div align="right" class="ContentData" >{{objCust.Insured}}</div>-->
                            <div align="left" class="ContentData" >{{objCust.Insured}}</div>
                        </div>


                        <div>
                            <i class="icon ion-chevron-right"></i>
                        </div>


                        <ion-delete-button class="ion-minus-circled"
                            ng-click="onItemDelete(item)">
                        </ion-delete-button>





                        <div>



                            <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download" ng-click="ViewInsure(objCust.Clntnum_ins)">
                                <div>
                                    ดูข้อมูลกรมธรรม์

                                </div>
                            </ion-option-button>

                            <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download" ng-click="ViewPaymentLog(objCust.Clntnum_ins)">
                                ดูประวัติการชำระเบี้ย
                            </ion-option-button>
                        </div>


                    </ion-item>
                </ion-list>


                <!--
                <div ng-repeat="objCust in ListCust">
                    <div style="float:left; width: 99%;">
                        <div style="float:left;" class="ContentText">ชื่อ - สกุล: </div>
                        <div align="right" class="ContentData" >{{objCust.Insured}}</div>
                    </div>
                </div>
                 -->


            </div>




            </div>





            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>




        </ion-scroll>
    </ion-content>
</ion-view>
