<ion-view title="ดาวน์โหลดเอกสาร">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

        <div class="MainHeaderBar">Download Document</div>


        <div>
          <div class="SubHeaderData">การชำระเงิน</div>


              <!--<div ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'การชำระเงิน'">-->
                <ion-item click-for-options ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'การชำระเงิน'"  item="objStaticDownloadDocument">

                <div style="padding-left: 10px;  padding-right: 10px;">

                    <button class="button button-block button-positive TokioDownloadBtn icon-left ion-android-download" style="font-size:12px;">
                      {{objStaticDownloadDocument.DocNM}}
                    </button>

                </div>


                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                            ng-click="ViewFile(objStaticDownloadDocument.DocFN)" >
                    View<!--ใบเสร็จรับเงินเบี้ยประกันภัย-->
                </ion-option-button>

                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                            ng-click="DownloadAndSendMailStatic(objStaticDownloadDocument.DocFN)" >
                    Send Mail
                </ion-option-button>


                </ion-item>

              <!--</div>-->

        </div>



        <div>
          <div class="SubHeaderData">คำร้องขอเปลี่ยนกรมธรรม์ประกันชีวิต</div>


              <!--<div ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'คำร้องขอเปลี่ยนกรมธรรม์ประกันชีวิต'">-->
              <ion-item click-for-options ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'คำร้องขอเปลี่ยนกรมธรรม์ประกันชีวิต'"  item="objStaticDownloadDocument">
                <div style="padding-left: 10px;  padding-right: 10px;">
                  <button class="button button-block button-positive TokioDownloadBtn icon-left ion-android-download" style="font-size:12px;">
                    {{objStaticDownloadDocument.DocNM}}
                  </button>

                </div>

                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                    ng-click="ViewFile(objStaticDownloadDocument.DocFN)" >
                    View<!--ใบเสร็จรับเงินเบี้ยประกันภัย-->
                </ion-option-button>

                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                    ng-click="DownloadAndSendMailStatic(objStaticDownloadDocument.DocFN)" >
                    Send Mail
                </ion-option-button>


              </ion-item>
              <!--</div>-->

        </div>



        <div>
          <div class="SubHeaderData">การให้บริการกรมธรรม์ประกันชีวิต</div>



              <!--<div ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'การให้บริการกรมธรรม์ประกันชีวิต'">-->
              <ion-item click-for-options ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'การให้บริการกรมธรรม์ประกันชีวิต'"  item="objStaticDownloadDocument">
                <div style="padding-left: 10px; padding-right: 10px;">
                  <button  class="button button-block button-positive TokioDownloadBtn icon-left ion-android-download" style="font-size:12px;">
                      {{objStaticDownloadDocument.DocNM}}
                  </button>

                </div>
                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                    ng-click="ViewFile(objStaticDownloadDocument.DocFN)" >
                    View<!--ใบเสร็จรับเงินเบี้ยประกันภัย-->
                </ion-option-button>

                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                    ng-click="DownloadAndSendMailStatic(objStaticDownloadDocument.DocFN)" >
                    Send Mail
                </ion-option-button>
              </ion-item>
              <!--</div>-->



        </div>



        <div>
            <div class="SubHeaderData">แบบฟอร์มเรียกร้องสินไหมทั่วไป</div>

            <!--<div ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'แบบฟอร์มเรียกร้องสินไหมทั่วไป'">-->
            <ion-item click-for-options ng-repeat="objStaticDownloadDocument in ListStaticDocument | filter : 'แบบฟอร์มเรียกร้องสินไหมทั่วไป'"  item="objStaticDownloadDocument">

                <div  style="padding-left: 10px; padding-right: 10px;">
                    <button class="button button-block button-positive TokioDownloadBtn icon-left ion-android-download" style="font-size:12px;">
                        {{objStaticDownloadDocument.DocNM}}
                    </button>
                </div>

                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                    ng-click="ViewFile(objStaticDownloadDocument.DocFN)" >
                    View<!--ใบเสร็จรับเงินเบี้ยประกันภัย-->
                </ion-option-button>

                <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                    ng-click="DownloadAndSendMailStatic(objStaticDownloadDocument.DocFN)" >
                    Send Mail
                </ion-option-button>


            </ion-item>
            <!--</div>-->


        </div>


<br/>
<div class="BottomPage">
    &nbsp;</br>&nbsp;
</div>

        </ion-scroll>
    </ion-content>
</ion-view>

<script id="ModalSendMailDownload.tmpl.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
    <h1 class="title">Send Mail</h1>
    </ion-header-bar>

    <ion-content>


    <div class="MainHeaderBar" style="height:20px; padding-top:1px;">
    Email
    </div>

    <div class="list" style="border:1px solid green;">

    <label class="item item-input item-floating-label">
     <span class="input-label">From</span>
     <input id="txt1" type="text" style="width:100%;" placeholder="From : somemail@mail.com" ng-model="MailFrom_Modal.text" ng-blur="ValidateMailFromFormat(MailFrom_Modal.text)">
     <div style="float:left; color:red;" >{{MailFromMsg}}</div>
     </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">To</span>
    <input type="text" style="width:100%;" placeholder="To : somemail@mail.com" ng-model="MailTo_Modal.text" ng-blur="ValidateMailToFormat(MailTo_Modal.text)">
    <div style="float:left; color:red;" >{{MailToMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">CC</span>
    <input type="text" style="width:100%;" placeholder="CC : somemail@mail.com" ng-model="MailCC_Modal.text" ng-blur="ValidateMailCCFormat(MailCC_Modal.text)">
    <div style="float:left; color:red;" >{{MailCCMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">BCC</span>
    <input type="text" style="width:100%;" placeholder="BCC : somemail@mail.com" ng-model="MailBCC_Modal.text" ng-blur="ValidateMailBCCFormat(MailBCC_Modal.text)">
    <div style="float:left; color:red;" >{{MailBCCMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">Subject</span>
    <input type="text" style="width:100%;" placeholder="Subject" ng-model="MailSubject_Modal.text">
    <div style="float:left; color:red;" >{{MailSubjectMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">Attached</span>
    <input type="text" style="width:100%;" placeholder="Attached" ng-model="MailAttached" ng-disabled="true">
    <div style="float:left; color:red;" >{{FN}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">Detail</span>
    <textarea name="txtMailDetail" cols="40" rows="4" placeholder="Detail" ng-model="MailDetail_Modal.text"></textarea>
    <div style="float:left; color:red;" >{{MailDetailMsg}}</div>
    </label>




    </div>

    <div align="center">

    <button class="TokioBtn" style="width:100px; height:30px; font-size:12px;" ng-click="SendMailProcess(false)">
    Cancel
    </button>

    <button class="TokioBtn" style="width:100px; height:30px; font-size:12px;" ng-click="SendMailProcess(true)">
    Send Mail
    </button>

    <!--<h1>Msg : {{AttachedFile.File}}</h1>-->

    </div>

    <br/>

    </ion-content>
    </ion-modal-view>
    </script>
