<ion-view title="แบบฟอร์ม">
<ion-content class="has-header">
<ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">


    <div class="MainHeaderBar">แบบฟอร์มเพื่อให้บริการ</div>
    <div align="center" class="divPage">
        <div class="DivFormContent">


            <br/>

            <ion-list>

                <div ng-repeat="DLDoc in DLDocuments">

                    <ion-item class="item-stable"
                        ng-click="toggleGroupDoc(DLDoc)"
                        ng-class="{active: isGroupDocShown(DLDoc)}">

                        <div align="left" style="white-space: normal;">
                        <i class="icon" ng-class="isGroupDocShown(DLDoc) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        {{DLDoc.DocGrpNM}}

                        </div>
                    </ion-item>

                    <ion-item class="item-accordion"
                        ng-repeat="DocItem in DLDoc.DocNMFN"
                        ng-show="isGroupDocShown(DLDoc)" click-for-options>

                        <!--<div style="padding-left: 50px; height:50px; vertical-align:middle; text-align: left;" >
                        {{DocName}}
                        </div>-->

                        <div style="padding-left: 0px; padding-top: 0px; vertical-align:middle; text-align: left;" >

                            <div style="padding-left: 10px;  padding-right: 10px;">

                                <button class="button button-block button-positive TokioDownloadBtn icon-left ion-android-download" style="text-align:left;">
                                    {{GetDocNMFromNMFN(DocItem)}}
                                </button>

                            </div>


                            <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                                ng-click="ViewFile(GetDocFNFromNMFN(DocItem))" >
                                ดูข้อมูล
                            </ion-option-button>

                            <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                                ng-click="OpenModalSendMail(GetDocFNFromNMFN(DocItem),GetDocNMFromNMFN(DocItem))" >
                                ส่งเข้าอีเมล
                            </ion-option-button>

                        </div>

                    </ion-item>

                </div>



            </ion-list>

         <br/>
         <br/>
         <br/>
         <br/>

        </div>
    </div>

<div class="BottomPage">
    &nbsp;</br>&nbsp;
</div>

</ion-scroll>
</ion-content>
</ion-view>



<script id="ModalSendMail_New.tmpl.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
        <button class="button" ng-click="cancelSendEmail()">ยกเลิก</button>
        <!-- <h1 class="title">ส่งเข้าอีเมล</h1> -->
    </ion-header-bar>
    <ion-content>
        <div style="padding-top:35px" align="center" ng-if="HasEmail == 'N'">
            <h4>ไม่พบข้อมูลอีเมลของคุณ</h4>
            <p>ไปที่เมนู <a href="#" ng-click="GoToSetting()">ตั้งค่าผู้ใช้งาน</a> เพื่อกรอกอีเมล</p>
        </div>
        <div ng-if="HasEmail == 'Y'" align="center">
            <div>
                <img class="full-image" src="Resources/images/sendmail.png">
            </div>
            <div style="padding: 20px;">
                <h4>ยืนยันอีเมลของคุณ</h4>
                <p>เราจะส่งข้อมูลไปยังอีเมล: </p>
                <p>{{AgentData.Email}}</p>
                <p>ตรวจสอบอีเมลของคุณ และกดส่งเพื่อดำเนินการ</p>
                <button
                    class="button button-full button-outline button-positive TokioBtn"
                    ng-click="confirmSendEmail(DocfullNM,DocType)"
                    ng-disabled="checkBTSendEmail">
                    ส่ง
                </button>
            </div>
        </div>
    </ion-content>
    </ion-modal-view>
</script>

<!-- <script id="ModalSendMailDownload.tmpl.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
    <h1 class="title">Send Mail</h1>
    </ion-header-bar>

    <ion-content>


    <div class="MainHeaderBar" style="height:20px; padding-top:1px;">
    Email
    </div>

    <div class="list" style="border:1px solid green;">


    <label class="item item-input item-floating-label">
    <span class="input-label">To</span>
    <input type="text" style="width:100%;" placeholder="To : somemail@mail.com" ng-model="MailTo_Modal.text" ng-blur="ValidateMailToFormat(MailTo_Modal.text)">
    <div style="float:left; color:red;" >{{MailToMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">CC</span>
    <input type="text" style="width:100%;" placeholder="CC : somemail@mail.com" ng-model="MailCC_Modal.text" ng-blur="ValidateMailCCFormat(MailCC_Modal.text)">
    <div style="float:left; color:red;" >{{MailCCMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">BCC</span>
    <input type="text" style="width:100%;" placeholder="BCC : somemail@mail.com" ng-model="MailBCC_Modal.text" ng-blur="ValidateMailBCCFormat(MailBCC_Modal.text)">
    <div style="float:left; color:red;" >{{MailBCCMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">Subject</span>
    <input type="text" style="width:100%;" placeholder="Subject" ng-model="MailSubject_Modal.text">
    <div style="float:left; color:red;" >{{MailSubjectMsg}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">Attached</span>
    <input type="text" style="width:100%;" placeholder="Attached" ng-model="MailAttached" ng-disabled="true">
    <div style="float:left; color:red;" >{{FN}}</div>
    </label>

    <label class="item item-input item-floating-label">
    <span class="input-label">Detail</span>
    <textarea name="txtMailDetail" cols="40" rows="4" placeholder="Detail" ng-model="MailDetail_Modal.text"></textarea>
    <div style="float:left; color:red;" >{{MailDetailMsg}}</div>
    </label>




    </div>

    <div align="center">

    <button class="TokioBtn" style="width:100px; height:30px; font-size:12px;" ng-click="SendMailProcess(false)">
    Cancel
    </button>

    <button class="TokioBtn" style="width:100px; height:30px; font-size:12px;" ng-click="SendMailProcess(true)">
    Send Mail
    </button>

    </div>

    <br/>

    </ion-content>
    </ion-modal-view>
    </script> -->

