<ion-view view-title="รายละเอียด">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">


            <div style="width:100%; border: 0px solid red; margin-top:5px;">
                <div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> เลขที่กรมธรรม์ : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.CHDRNUM}}&nbsp;&nbsp;{{FailReportDetail.STATCODE_DESC}}
                    </div>

                </div>
            </div>


            <div align="center" style="width:100%; border: 0px solid red; margin-top:10px; overflow: scroll;">
                <table class="tbData" align="center">

                    <tr align="center">
                        <td class="HeaderData">แบบประกัน</td>
                        <td colspan="2" class="ContentData">{{FailReportDetail.CRTABLE_DESC}} ( {{FailReportDetail.CRTABLE}}
                            )
                        </td>
                    </tr>

                    <!-- Header -->
                    <tr class="HeaderData" align="center">
                        <td>ปีที่/งวดที่</td>
                        <td>วันครบกำหนดชำระ</td>
                        <td>งวดชำระ</td>
                    </tr>

                    <!-- Content -->
                    <tr class="ContentData">
                        <td align="center">
                            <div>
                                {{FailReportDetail.PERIOD_YEAR}} / {{FailReportDetail.PERIOD_TIME}}
                            </div>
                        </td>
                        <td align="center">
                            <div>
                                {{FailReportDetail.PTDATE_TH}}
                            </div>
                        </td>

                        <td align="center">
                            <div>
                                {{FailReportDetail.BILLFREQ}}
                            </div>
                        </td>
                    </tr>

                </table>

            </div>

            <div style="width:100%; border: 0px solid red; margin-top:5px;">
                <div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> ชื่อ-นามสกุลผู้เอาประกัน : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.INSURED_NAME}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> ชื่อ-นามสกุลผู้ชำระเบี้ย : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.PAYER_NAME}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> เบอร์ผู้ชำระเบี้ย : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        <!--{{FailReportDetail.PAYER_TEL}}-->
                        <p data-ng-bind-html="telPayerTel" class="CTCBindingText"></p>
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> จำนวนงวดคงค้าง : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.PERIOD_UNPAID}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> จำนวนเบี้ยประกันต่องวด : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.BILL_AMOUNT}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> จำนวนเบี้ยประกันรวมคงค้าง : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.TOTAL_BILL_AMOUNT}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> วันที่ทำรายการ : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.DUEDATE_TH}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> เหตุผล : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.REASON_TYPE}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> เนื่องจาก : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.REASON_DESC}}
                    </div>

                    

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> ชื่อ - นามสกุลตัวแทน : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        {{FailReportDetail.AGENT_NAME}}
                    </div>

                    <div style="float:left;" class="ContentText ShowBorderBottomDot"> Call center : </div>
                    <div align="right" class="ContentData ShowBorderBottomDot">
                        <!--{{FailReportDetail.CALLCENTER_TEL}}-->
                        <p data-ng-bind-html="telCallCenter" class="CTCBindingText"></p>
                    </div>

                </div>
            </div>



            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>
