<ion-view view-title="ข้อมูลลูกค้า">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            <div class="item-input-inset">
                <input auto-complete placeholder=" Search" ng-model="AGCsearch.INSURED_NAME" style="width:100%; padding-left:11px;">

            </div>

            <div class="SubHeaderData2">รายการลูกค้า</div>

            <div align="center">
                <h5>{{txtPageLoad}}</h5>
            </div>

            <div ng-if="(ListCust != null) && (ListCust.length != 0)">
                <ion-list>
                    <ion-item click-for-options ng-repeat="objCust in ListCust | filter:AGCsearch | limitTo:listlength" item="objCust">
                        <div style="float:left; width: 50%;">
                            <div style="float:left;padding-left: 0px; padding-right: 0px;" class="ContentText">
                                &nbsp;
                            </div>
                            <div align="left" class="ContentData" style="padding-left: 0px; padding-right: 0px;white-space:normal;">{{objCust.INSURED_NAME}}</div>
                            
                        </div>
                        <div style="float:right; width: 50%;">
                            <div align="right" class="ContentData" style="padding-left: 0px; padding-right: 0px;">
                                {{objCust.TOTAL_BILL_AMOUNT}}&nbsp;<i class="icon ion-chevron-right"></i>
                            </div>
                        </div>

                        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
                        </ion-delete-button>
                        <div>
                            <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download" style="font-size:12px;" ng-click="ViewFailReportDetail(objCust.CHDRNUM)">
                                <div>
                                    ดูข้อมูล
                                </div>
                            </ion-option-button>
                        </div>


                    </ion-item>
                </ion-list>





            </div>


            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>
