<ion-view view-title="Forgot U/P" class="MainContentFresh view-authorize-with-bg">
  <ion-content>
      <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

        <div align="center" class="divPage">
            <div class="DivFormContent">
                
                
                <div class="DivLoginMenu">
                    <div class="DivLogin">
                        
                        <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/Icon_to_touch_point_edit-01.png">
                        <!--<h2  class="DivVersionText">V.0.1.1609009</h2>-->
                        
                    </div>
                    
                </div>
                
                
                <div  class="MainHeaderBar" style="border:1px solid #0096A9">
                    ลืมชื่อผู้ใช้งาน / รหัสผ่าน
                </div>
                


                <div class="list" style="border:0px solid green;" align="left">

                    <label class="item item-input item-floating-label">
                        <span class="input-label">หมายเลขบัตรประชาชน 13 หลัก</span>
                        <input type="text" style="width:100%;" placeholder="หมายเลขบัตรประชาชน 13 หลัก" class="inputLogin" ng-blur="IsIDCard(IDCard)" ng-model="IDCard">
                            <div style="float:left; color:red;" >{{DupIDCarsMsg}}</div>
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">อีเมล์</span>
                        <input type="text" style="width:100%;" placeholder="อีเมล์" class="inputLogin"  ng-blur="ValidateEmailFormat(Email)" ng-model="Email">
                        <div style="float:left; color:red;" >{{InvalidEmailFormatMsg}}</div>
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">เบอร์โทรศัพท์มือถือ</span>
                        <input type="text" style="width:100%;" placeholder="เบอร์โทรศัพท์มือถือ" class="inputLogin" ng-blur="ValidateMobileNo(Mobile_no)" ng-model="Mobile_no">
                        <div style="float:left; color:red;" >{{InvalidMobileNoMsg}}</div>
                    </label>



                </div>



                <div class="padding">
                    <button class="button button-block button-positive TokioBtn" ng-click="ForgotPWD(IDCard,Email,Mobile_no)">
                        ยืนยัน
                    </button>
                    <button class="button button-block button-positive TokioBtn" ng-click="GoToLogin()">
                        ย้อนกลับ
                    </button>
                </div>
    
    
            </div>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>
