<!--<ion-view view-title="Agent Touch Point" class="MainContentFresh view-home-with-bg">-->
<ion-view view-title="Super Tools" class="MainContentFresh view-home-with-bg">
  <ion-content style="padding-top:10px;">
      <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
         
         <div>
         <div class="DivHome" align="center" style="font-size: 14px; font-weight:bold;">
             
             <div class="DivLoginMenux">
                 <div class="DivLoginx">
                     <div class="DivLogoHome">
                         <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/AGTPIcon.png">
                     </div>
                </div>
            </div>
                 
             
             <div><h4 style="color:#022B39;">โตเกียวมารีนประกันชีวิต</h4></div>
             <div><h4 style="color:#022B39;">ยินดีต้อนรับ</h4></div>
             <div><h3 style="color:#0096A9;">คุณ {{User}} </h3></div>
             <div><h4 style="color:#022B39;">เข้าสู่ระบบ Super Tools</h4></div>
    
    
    
            
        </div>
         
         <div>
             <p>
             <p ng-bind-html="TextHBD"></p>
             </p>
         </div>
         
         <div class="BottomPageHome">
             &nbsp;</br>&nbsp;
         </div>
         </div>
    </ion-scroll>
  </ion-content>
</ion-view>
