<ion-view view-title="Super Tools" class="MainContentFresh view-home-with-bg">
    <ion-content style="padding-top:10px;">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

            <div>
                <div class="DivHome" align="center" style="margin-bottom: 20px;font-size: 14px; font-weight:bold;">

                    <div class="DivLoginMenux">
                        <div class="DivLoginx">
                            <div class="DivLogoHome">
                                <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/AGTPIcon.png">
                            </div>
                        </div>
                    </div>


                    <div>
                        <h4 style="color:#022B39;">โตเกียวมารีนประกันชีวิต</h4>
                    </div>
                    <div>
                        <h4 style="color:#022B39;">ยินดีต้อนรับ</h4>
                    </div>
                    <div>
                        <h3 style="color:#0096A9;">คุณ {{User}} </h3>
                    </div>
                    <div>
                        <h4 style="color:#022B39;">เข้าสู่ระบบ Super Tools</h4>
                    </div>

                </div>

                <div ng-repeat="objNotificationMessages in ListNotificationMessages" style="margin: 1px 10px 1px 10px; padding: 16px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); background-color:rgba(246, 246, 246,.5);">

                    <div ng-if="objNotificationMessages.taxConsentIsActive == 'Y'">

                        <div ng-bind-html="trustAsHtml(objNotificationMessages.taxConsentText)"></div>

                    </div>

                    <div ng-if="objNotificationMessages.nmIsActive == 'Y'">

                        <div ng-bind-html="trustAsHtml(objNotificationMessages.nmText)"></div>

                    </div>

                </div>

                <!-- <div class="card" ng-if="(ListNotificationMessages != null) && (ListNotificationMessages.length != 0)">
                    <div style="color: white;" class="item item-text-wrap" ng-repeat="objNotificationMessages in ListNotificationMessages">
                        <div ng-bind-html="trustAsHtml(objNotificationMessages.nmText)"></div>
                    </div>
                </div> -->

                <div>
                    <p>
                        <p ng-bind-html="TextHBD"></p>
                    </p>
                </div>

                <div class="BottomPageHome">
                    &nbsp;</br>&nbsp;
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>

<script id="my-modal.tmpl.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="MainHeaderBar">
            <div class="title">นโยบายข้อมูลส่วนบุคคล</div>
            <!-- <button class="button button-clear button-primary" ng-click="modal.hide()">ปิด</button> -->
        </ion-header-bar>
        <ion-content>
            <div ng-click="gotoPDPWebsite()">
                <img class="full-image" src="https://www.tokiomarine.com/content/dam/th/Common-Pages/discover/pdp.png">
            </div>
        </ion-content>
        <ion-footer-bar class="MainHeaderBar" ng-click="modal.hide()">
            <div class="buttons" style="margin: 0;position: absolute;top: 50%;left: 50%; -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
                <button class="button button-clear button-primary">ปิด</button>
            </div>
        </ion-footer-bar>
  </ion-modal-view>
</script>