<ion-view title="ข้อมูลโรงพยาบาลเครือข่าย">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            
            

            
            
        <div class="MainHeaderBar">ข้อมูลโรงพยาบาลเครือข่าย</div>

        <div class="SubHeaderData">โรงพยาบาลในจังหวัด</div>
        <div class="SubHeaderData" style="padding-right:10px;">
          <select style="width:100%;" ng-model="ddlSelectProvinceValue" ng-change="GetHospitalByProvince(ddlSelectProvinceValue)">
            <option value=''>กรุณาเลือก</option>
            <option ng-repeat="objProvinceHospital in ListProvinceHospital" value="{{objProvinceHospital.Location}} ">{{objProvinceHospital.Location}}</option>
          </select>
        </div>
        <br/>

        <input type="hidden" ng-model="ddlSelectProvinceValue" value="{{ddlSelectProvinceValue}}">








        <div align="center">






            <table style="border: 0px solid black; width: 90%;" ng-repeat="objHospital in ListHospital">
                
                <tr>
                    <td width="70%" style="border: 0px solid red; margin-top:0px; vertical-align:middle;">
                        <div>
                        
                        <table style="border: 0px solid green;">
                            <tr style="border:0px solid red;">
                                <td align="right" style="border: 0px solid black;">
                                    <div class="ContentText ion-ios-pulse-strong"></div>
                                </td>
                                
                                
                                <td align="left" style="border: 0px solid black;">
                                    <div style="padding-left: 1px;">{{objHospital.Name}}</div>
                                </td>
                                
                            </tr>
                            
                            <tr>
                                <td >
                                    <div style="float:left;" class="ContentText ion-ios-telephone"></div>
                                </td>
                                
                                
                                <td >
                                    
                                    <div ng-repeat="ObjTel in objHospital.ListTel" style="padding-left: 1px;">
                                        <a href="tel: {{ObjTel}}">{{ConvertToPhoneFormat(ObjTel)}}</a>
                                    </div>
                                    
                                </td>
                            </tr>
                            
                            
                            
                            <tr>
                                <td >
                                    <div style="float:left;" class="ContentText ion-ios-location"></div>
                                </td>
                                
                                
                                <td >
                                    <!--<div style="padding-left: 1px;" ng-if="objHospital.Location == 'กรุงเทพฯ' ">{{objHospital.Address}} แขวง{{objHospital.Tumbon}} เขต{{objHospital.City}} {{objHospital.Location}} {{objHospital.Postcode}}
                                    </div>
                                    <div style="padding-left: 1px;" ng-if="objHospital.Location != 'กรุงเทพฯ' ">{{objHospital.Address}} ตำบล{{objHospital.Tumbon}} อำเภอ{{objHospital.City}} {{objHospital.Location}} {{objHospital.Postcode}}
                                    </div>-->
                                    
                                    <div style="padding-left: 1px;" ng-if="objHospital.Location == 'กรุงเทพฯ' ">{{objHospital.Address}} {{objHospital.Tumbon}} {{objHospital.City}} {{objHospital.Location}} {{objHospital.Postcode}}
                                    </div>
                                    <div style="padding-left: 1px;" ng-if="objHospital.Location != 'กรุงเทพฯ' ">{{objHospital.Address}} {{objHospital.Tumbon}} {{objHospital.City}} {{objHospital.Location}} {{objHospital.Postcode}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                        
                        </div>
                        
                    </td>
                    
                    <td align="center" width="30%" style="border: 0px solid blue; vertical-align:middle;">
                        <!--<div ui-sref="app.Map({ lat: objHospital.Latitude ,lng: objHospital.Longitude })" ng-if="objHospital.Latitude != ''">
                            <img src="Resources/images/GoogleMapLogo.jpg" class="MiniMaps">
                        </div>-->
                        <div style="border: 0px solid black;">
                            <div ui-sref="app.Map({ lat: objHospital.Latitude ,lng: objHospital.Longitude })" ng-if="objHospital.Latitude != ''">
                                <img src="Resources/images/GoogleMapLogo.jpg" class="MiniMaps">
                                    </div>
                        </div>
                    </td>
                </tr>
                
                
                
                <!--<tr style="border: 1px solid black;">
                    <td width="5%" style="border: 1px solid black;"></td>
                    <td width="60%" style="border: 1px solid black; text-align:left;"></td>
                    <td  style="border: 1px solid black;"></td>
                </tr>
    
    
    
                <tr style="border:1px solid red;">
                    <td style="border: 1px solid black;">
                        p &nbsp;
                    </td>
        
        
                    <td style="border: 1px solid black;">
                        k&nbsp;
                    </td>
        
                    <td style="border: 1px solid black;" rowspan="4" >
                        <div ui-sref="app.Map({ lat: objHospital.Latitude ,lng: objHospital.Longitude })" ng-if="objHospital.Latitude != ''">
                            <img src="Resources/images/GoogleMapLogo.jpg" class="MiniMaps">
                        </div>999
                    </td>
                </tr>-->
                
    
    
    
    
    
                <tr>
                    <td colspan="2"><hr class="style-one"></hr></td>
                </tr>
            </table>
            
                    <!--<table style="border:1px solid black;" ng-repeat="objHospital in ListHospital">
                    
                        <tr style="border:1px solid red;">
                            <td width="5%">
                                <div style="float:left;" class="ContentText ion-ios-pulse-strong"></div>
                            </td>
                    
                    
                            <td width="75%">
                                <div style="padding-left: 10px;">{{objHospital.Name}}</div>
                            </td>
                        
                            <td rowspan="3" >
                                
                                <div ui-sref="app.Map({ lat: objHospital.Latitude ,lng: objHospital.Longitude })" ng-if="objHospital.Latitude != ''">
                                    <img src="Resources/images/GoogleMapLogo.jpg" class="MiniMaps">
                                </div>
                            </td>
                        </tr>
                
                
                
                        <tr>
                            <td width="5%">
                                <div style="float:left;" class="ContentText ion-ios-telephone"></div>
                            </td>
                    
                    
                            <td width="75%">
                            
                                <div ng-repeat="ObjTel in objHospital.ListTel" style="padding-left: 10px;">
                                    <a href="tel: {{ObjTel}}">{{ConvertToPhoneFormat(ObjTel)}}</a>
                                </div>
                                
                            </td>
                        </tr>
                    
                    
                    
                
                        <tr>
                            <td width="5%">
                                <div style="float:left;" class="ContentText ion-ios-location"></div>
                            </td>
                    
                    
                            <td width="75%">
                                <div style="padding-left: 10px;" ng-if="objHospital.Location == 'กรุงเทพฯ' ">{{objHospital.Address}} แขวง{{objHospital.Tumbon}} เขต{{objHospital.City}} {{objHospital.Location}} {{objHospital.Postcode}}
                                </div>
                                <div style="padding-left: 10px;" ng-if="objHospital.Location != 'กรุงเทพฯ' ">{{objHospital.Address}} ตำบล{{objHospital.Tumbon}} อำเภอ{{objHospital.City}} {{objHospital.Location}} {{objHospital.Postcode}}
                                </div>
                            </td>
                        </tr>
                    
                        <tr>
                            <td colspan="3">
                                <hr class="style-one"></hr>
                            </td>
                        </tr>
                    
                    </table>-->
            
            
            
            
            <!--<div style="float:left; display: inline; width:25%; border:0px solid black; " align="center">
             <div ui-sref="app.Map({ lat: objHospital.Latitude ,lng: objHospital.Longitude })" ng-if="objHospital.Latitude != ''">
             <img src="Resources/images/GoogleMapLogo.jpg" class="MiniMaps">
             </div>
             </div>-->


    </div>



<div class="BottomPage">
    &nbsp;</br>&nbsp;
</div>




        </ion-scroll>
    </ion-content>
</ion-view>
