<ion-view view-title="เรียกร้องสินไหม">
    <ion-content>
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            
            <div ng-if="(ListInsuranceNo != null) && (ListInsuranceNo.length != 0)">
                
            
            <div style="padding-left:10px;padding-bottom:5px;">
                <!--กำลังดูข้อมูลของ {{InsuranceCardInfo.Insured_name}}-->
                กำลังดูข้อมูลของ {{DefaultListInsuredName}}
            </div>
            
            <div style="width:100%; border: 0px solid red; margin-top:35px;">
                <!--<div ng-repeat="objCompensation in ListCompensation">-->
                
                
                <div align="center" ng-if="MsgNoDataClaim == null || MsgNoDataClaim == ''">
                    
                    
                    <table class="tbData" align="center" ng-repeat="objInsuranceGroupingClaim in InsuranceGroupingClaim" >
                        <!-- Header -->
                        <tr class="HeaderData"  align="center">
                            <td colspan=3 align="left" style="padding-left: 10px;">
                                {{ TransformDescGroupingClaim(objInsuranceGroupingClaim) }}
                            </td>
                        </tr>
                        <tr class="HeaderData" align="center">
                            <td>วันที่เกิดเหตุ</td>
                            <td>จำนวนเงินที่จ่าย</td>
                            <td>รายละเอียด</td>
                        </tr>
                        
                        
                        <!-- Content -->
                        <tr ng-repeat="objInsuranceClaim in InsuranceClaim" class="ContentData">
                            <td align="center" ng-if="objInsuranceClaim.Longdesc == objInsuranceGroupingClaim">
                                <!--{{ConvertYYYYMMDDDateToString(objInsuranceClaim.Incident_dt)}}-->
                                {{objInsuranceClaim.sIncident_dt}}
                            </td>
                            <td align="right" ng-if="objInsuranceClaim.Longdesc == objInsuranceGroupingClaim">
                                <!--{{numberWithCommas(objInsuranceClaim.Paym_amt)}}-->
                                {{objInsuranceClaim.Paym_amt}}
                            </td>
                            <td align="center" ng-if="objInsuranceClaim.Longdesc == objInsuranceGroupingClaim">
                                
                                <div ui-sref="app.ClaimDetailVw({ id: objInsuranceClaim.Idx, Policy_no: objInsuranceClaim.Policy_no, IncidentDT: objInsuranceClaim.Incident_dt, rgpnum: objInsuranceClaim.RgpyNum })">
                                    <a href ="#">
                                        ดูข้อมูล <!--...{{objInsuranceClaim.Idx}}-->
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                        
                        <tr align="center">
                            <td colspan=3 align="left" style="padding-left: 10px;">
                                &nbsp;
                            </td>
                        </tr>
                        
                    </table>
                    
                    
                    <!--
                    <table class="tbData" align="center">
                        <!-- Header ->
                        <tr class="HeaderData" align="center">
                            <td>วันที่เกิดเหตุ</td>
                            <td>จำนวนเงินที่จ่าย</td>
                            <td>รายละเอียด</td>
                        </tr>
                        
                        <!-- Content ->
                        <tr ng-repeat="objInsuranceClaim in InsuranceClaim" class="ContentData">
                            <td align="center">{{ConvertYYYYMMDDDateToString(objInsuranceClaim.Incident_dt)}}</td>
                            <td align="right">{{numberWithCommas(objInsuranceClaim.Paym_amt)}}</td>
                            <td align="center">
                                
                                
                                <!--<div ui-sref="app.ClaimDetailVw({ id: objInsuranceClaim.Idx, Policy_no: objInsuranceClaim.Policy_no })">
                                    <a href ="#">
                                        ดูข้อมูล <!-...{{objInsuranceClaim.Idx}}-{{objInsuranceClaim.Policy_no}}->
                                    </a>
                                </div>->
                                
                                <div ui-sref="app.ClaimDetailVw({ id: objInsuranceClaim.Idx, Policy_no: objInsuranceClaim.Policy_no, IncidentDT: objInsuranceClaim.Incident_dt, rgpnum: objInsuranceClaim.RgpyNum })">
                                    <a href ="#">
                                        ดูข้อมูล <!-...{{objInsuranceClaim.Idx}}->
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                        
                        
                    </table>
                    
                    <div align="left" style="padding-left:5px;">
                        *แสดงประวัติสินไหมย้อนหลัง 15 รายการ
                    </div>
                    
                </div>
                
                <div align="center" ng-if="MsgNoDataClaim != null || MsgNoDataClaim != ''">
                    <h4>{{MsgNoDataClaim}}</h4>
                </div>-->
                
                
            </div>
            
            
            
            </div>
            
            
            <div align="center" ng-if="MsgNoDataClaim != null || MsgNoDataClaim != ''">
                <h4>{{MsgNoDataClaim}}</h4>
            </div>
            <!--<div ng-if="(ListInsuranceNo == null) || (ListInsuranceNo.length == 0)" align="center">
                <h5>รายการที่เลือกไม่สามารถดูข้อมูลได้</h5>
            </div>-->
            
            <div style="padding:2px 0 0 10px;" class="txtLastedDate">
                {{latesdDataDate}}
            </div>
            <div style="padding-top:5px;">
                <button class="button button-block button-positive TokioBtn" ng-click="BackToPrevious()" >
                    
                    ย้อนกลับ
                    
                </button>
            </div>
            
            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>
            
        </ion-scroll>
    </ion-content>
</ion-view>








<!--/*<ion-view view-title="เรียกร้องสินไหม">
 <ion-content>
 <div style="width:100%; border: 0px solid red; margin-top:35px;">
 <div ng-repeat="objCompensation in ListCompensation">
 
 <ion-item nav-clear menu-close class="HeaderData">
 วันที่เกิดเหตุ : {{objCompensation.OccurDate}}
 </ion-item>
 
 <ion-item nav-clear menu-close >
 วันที่รับเรื่อง : {{objCompensation.RecieveDate}}
 </ion-item>
 <ion-item nav-clear menu-close >
 โรงพยาบาล : {{objCompensation.Hospital}}
 </ion-item>
 <ion-item nav-clear menu-close >
 สัญญาที่เรียกร้อง : {{objCompensation.Contract}}
 </ion-item>
 <ion-item nav-clear menu-close >
 สถานะพิจารณา : {{objCompensation.Status}}
 </ion-item>
 <ion-item nav-clear menu-close >
 จำนวนเงินที่จ่าย : {{objCompensation.PaymentAmt}}
 </ion-item>
 <ion-item nav-clear menu-close >
 เหตุผล : {{objCompensation.Note}}
 </ion-item>
 </div>
 </div>
 
 </ion-content>
 </ion-view>
 */-->
