<ion-view view-title="ข้อมูลกรมธรรม์">
    <ion-content overflow-scroll="true">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">



            <div ng-if="(ListInsuranceNo != null) && (ListInsuranceNo.length != 0)">

                <!--<div style="width:100%; height:1200px; border: 0px solid red; margin-top:35px;">-->
                <div style="padding-left:10px;padding-bottom:5px;">
                    <!--กำลังดูข้อมูลของ {{InsuranceCardInfo.Insured_name}}-->
                    กำลังดูข้อมูลของ {{DefaultListInsuredName}}
                </div>

                <div class="TouchPointContentPagex">

                    <div class="list">
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">วันเริ่มต้นสัญญาประกันภัย : </div>
                            <div align="right" class="ContentData">{{BaseInfoOccdate}}</div>
                        </div>
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">ระยะเวลาชำระเบี้ยสัญญาหลัก : </div>
                            <div align="right" class="ContentData"
                                ng-if="InsuranceBaseInfo.POLYEAR != '' || InsuranceBaseInfo.POLPRD != ''"> ปีที่
                                {{InsuranceBaseInfo.POLYEAR}} / งวดที่ {{InsuranceBaseInfo.POLPRD}} </div>
                            <div align="right" class="ContentData"
                                ng-if="InsuranceBaseInfo.POLYEAR == '' && InsuranceBaseInfo.POLPRD == ''"> - </div>
                        </div>
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">งวดการชำระเบี้ยประกันภัย : </div>
                            <div align="right" class="ContentData" ng-if="InsuranceBaseInfo.Cov_instprem != 0">
                                {{BaseInfoBillfreq}}
                            </div>
                            <div align="right" class="ContentData" ng-if="InsuranceBaseInfo.Cov_instprem == 0">
                                -
                            </div>
                        </div>
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">วันครบกำหนดชำระครั้งต่อไป : </div>
                            <div align="right" class="ContentData" ng-if="InsuranceBaseInfo.Cov_instprem != 0">
                                {{BaseInfoPtdate}}
                            </div>
                            <div align="right" class="ContentData" ng-if="InsuranceBaseInfo.Cov_instprem == 0">
                                -
                            </div>
                        </div>
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">ชื่อตัวแทน : </div>
                            <div align="right" class="ContentData">{{BaseInfoAgnt_name}}</div>
                        </div>
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">เบอร์โทรตัวแทน : </div>
                            <div align="right" class="ContentData" ng-if="BaseInfoListTel == 'OK'">
                                <div ng-repeat="ObjTel in InsuranceBaseInfo.ListTel" align="right" class="ContentData">
                                    <a href="tel: {{ObjTel}}">{{ConvertToPhoneFormat(ObjTel)}}</a>
                                </div>
                            </div>
                            <div align="right" class="ContentData" ng-if="BaseInfoListTel != 'OK'">
                                {{BaseInfoListTel}}
                            </div>
                        </div>
                        <div class="ShowBorderBottomDot">
                            <div style="float:left;" class="ContentText">เบี้ยประกันภัย (บาท) : </div>
                            <div align="right" class="ContentData">
                                {{BaseInfoBasic_instprem}}
                            </div>
                        </div>
                    </div>

                    <!--
                 <div ng-repeat="btnName in btnNames">
                 
                 <div ng-if="$index%4==0" class="row">
                 <div class="col">
                 <button id={{$index}} class="button button-dark" >{{btnNames[$index]}}</button>
                 <button id={{$index+1}} class="button button-dark" >{{btnNames[$index+1]}}</button>
                 <button id={{$index+2}} class="button button-dark" >{{btnNames[$index+2]}}</button>
                 <button id={{$index+3}} class="button button-dark" >{{btnNames[$index+3]}}</button>
                 
                 </div>
                 </div>
                 
                 </div>
                 -->

                    <div align="center" style="width:100%; border: 0px solid red; margin-top:35px; overflow: scroll;">
                        <table class="tbData" align="center">
                            <!-- Header -->
                            <tr class="HeaderData" align="center">
                                <td>สัญญาคุ้มครอง/เพิ่มเติม</td>
                                <td>ทุนประกัน</td>
                                <td>เบี้ยประกัน</td>
                                <td>สถานะ</td>
                                <!-- ILP -->
                                <td ng-if="SHOW_COLUMN_ILP == 'Y'">ข้อมูลการลงทุน</td>
                            </tr>

                            <!-- Content -->
                            <tr ng-repeat="objInsurance in InsuranceInfo" class="ContentData">
                                <td align="left" style="padding-left:10px;">
                                    <div ng-if="objInsurance.Crtable != null">
                                        {{objInsurance.Crtable}} - {{objInsurance.LongDesc}}
                                    </div>
                                </td>
                                <td align="right">
                                    <div ng-if="objInsurance.Cov_sumins != 0 && objInsurance.Cov_sumins != null">
                                        {{objInsurance.Cov_sumins}}
                                    </div>
                                    <div ng-if="objInsurance.Cov_sumins == 0 || objInsurance.Cov_sumins == null">
                                        -
                                    </div>
                                </td>

                                <td align="right">
                                    <div
                                        ng-if="(objInsurance.Cov_instprem != 0) && (objInsurance.Cov_instprem != null) ">
                                        {{objInsurance.Cov_instprem}}
                                    </div>
                                    <div ng-if="objInsurance.Cov_instprem == 0">-</div>
                                </td>
                                <td align="left" style="padding-left:10px;">
                                    <div ng-if="objInsurance.Cov_statcode_desc != null">
                                        {{objInsurance.Cov_statcode_desc}}
                                    </div>
                                </td>
                                <!-- ILP -->
                                <td align="center" ng-if="SHOW_COLUMN_ILP == 'Y'">
                                    <div ng-if="objInsurance.IS_ILP == 'TRUE'"
                                        ui-sref="app.UnitLink({ chdrnum: DefaultListInsuranceNo, product_code: objInsurance.PRODUCT_CODE })">
                                        <a href="#">
                                            ดูข้อมูล
                                        </a>
                                    </div>
                                    <div ng-if="objInsurance.IS_ILP != 'TRUE'">-</div>
                                </td>
                            </tr>

                        </table>

                    </div>




                </div>


            </div>

            <div ng-if="(ListInsuranceNo == null) || (ListInsuranceNo.length == 0)" align="center">
                <h5>รายการที่เลือกไม่สามารถดูข้อมูลได้</h5>
            </div>

            <div style="padding:2px 0 0 10px;" class="txtLastedDate">
                {{latesdDataDate}}
            </div>
            <div style="padding-top:5px;">
                <button class="button button-block button-positive TokioBtn" ng-click="BackToPrevious()">

                    ย้อนกลับ

                </button>
            </div>

            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>







        </ion-scroll>
    </ion-content>
</ion-view>

<script>
    function ConvertFormatDate(inputDate) {
        var date = new Date(inputDate);
        if (!isNaN(d.getTime())) {
            // Months use 0 index.
            return date.getMonth() + 1 + '/' + date.getDate() + '/' + date.getFullYear();
        }

        alert(inputDate);

    }
</script>