<div class="divInsuranceNo " style="border:0px solid red;  margin-top:60px;">
  <div style="float:left;width:50%; height:30px;" class="InsureNoContentText">
    เลขที่กรมธรรม์ >
  </div>

  <select
    style="width:50%; height:30px;"
    ng-model="ddlSelectChdrnum"
    ng-change="GetInsuranceInfoByChdrnum(ddlSelectChdrnum)"
  >
    <option value="">กรุณาเลือก</option>
    <option
      ng-repeat="objInsuranceNo in ListInsuranceNo"
      value="{{ objInsuranceNo.Chdrnum }} "
      ng-selected="{{ objInsuranceNo.Chdrnum == DefaultListInsuranceNo }}"
    >
      {{ objInsuranceNo.Chdrnum }}
    </option>
  </select>
</div>

<div style="border:0px solid green; margin-top:90px;">
  <ion-tabs
    class="tabs-positive tabs-icon-top"
    style="border:0px solid red; margin-top:90px;"
  >
    <!--<ion-tab title="บัตรประกันสุขภาพ" icon-on="ion-ios7-filing" ui-sref="app.InsureInfo.InsuranceCard" icon="ion-home" icon-off="ion-ios7-filing-outline">-->
    <ion-tab
      title=""
      ui-sref="app.InsureInfoVw.InsuranceCardVw"
      icon="ion-card"
    >
      <ion-nav-view name="InsuranceCardVw"></ion-nav-view>
    </ion-tab>

    <!--ข้อมูลกรมธรรม์-->
    <ion-tab
      title=""
      ui-sref="app.InsureInfoVw.InsuranceInfoVw"
      icon="ion-ios-information"
    >
      <ion-nav-view name="InsuranceInfoVw"></ion-nav-view>
    </ion-tab>

    <!--ประวัติการเรียกร้องสินไหม-->
    <ion-tab title="" ui-sref="app.InsureInfoVw.ClaimVw" icon="ion-ios-list">
      <ion-nav-view name="ClaimVw"></ion-nav-view>
    </ion-tab>

    <!--กรมธรรม์อิเล็กทรอนิกส์-->
    <!--<ion-tab title="" ui-sref="app.InsureInfoVw.EInsurance" icon="ion-android-globe">
            <ion-nav-view name="EInsurance"></ion-nav-view>
        </ion-tab>-->
  </ion-tabs>
</div>
