<ion-view view-title="รายละเอียด">
    <ion-content class="has-header" overflow-scroll="true">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            <div style="width:100%; border: 0px solid red; margin-top:5px;">
                <div>
                    
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">วันที่เกิดเหตุ : </div>
                        <div align="right" class="ContentData">
                            {{ObjIncident_dt}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">วันที่รับเรื่อง : </div>
                        <div align="right" class="ContentData">
                            {{ObjClaim_recv_dt}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">โรงพยาบาล : </div>
                        <div align="right" class="ContentData">
                            {{ObjHospital}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">สัญญาที่เรียกร้อง : </div>
                        <div align="right" class="ContentData">
                            {{ObjLongdesc}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">ช่องทางการเรียกร้อง : </div>
                        <div align="right" class="ContentData">
                            {{ObjChannel}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">สถานะพิจารณา : </div>
                        <div align="right" class="ContentData">
                            {{ObjDecision_status}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">วันที่ : </div>
                        <div align="right" class="ContentData">
                            {{ObjApprvDate}}
                        </div>
                    </div>
                    <div class="ShowBorderBottomDot">
                        <div style="float:left;" class="ContentText">จำนวนเงินที่จ่าย : </div>
                        <div align="right" class="ContentData" ng-if="ObjPaym_amt != '0' && ObjPaym_amt != '-' && ObjPaym_amt != null">
                            {{ObjPaym_amt}}
                        </div>
                        <div align="right" class="ContentData" ng-if="ObjPaym_amt == '0' || ObjPaym_amt == '-' || ObjPaym_amt == null">
                            -
                        </div>
                    </div>
                    <div ng-if="ObjPaym_amt == '0' || ObjPaym_amt == '-' || ObjPaym_amt == null">
                        <div class="ShowBorderBottomDot" ng-if="ObjReason != '' && ObjReason != null">
                            <div style="float:left;" class="ContentText">สาเหตุ : </div>
                            <div align="right" class="ContentData">
                                {{ObjReason}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br/>
            
            
            
            <div ng-if="ObjPaym_amt != 0 && ObjPaym_amt != '-' && ObjPaym_amt != null">
                
                <div style="padding-left: 10px; "><u>รายละเอียดการจ่าย</u></div>
                <div align="center">
                    
                    
                    <div ng-repeat="objInsuranceClaimDetail in ListInsuranceClaimDetail" style="width: 95%; border: 1px solid #0190A1;" align="center">
                        <div>{{objInsuranceClaimDetail.Detail}}</div>
                        
                        <!--<div style="float:left;" class="ContentText">เริ่มต้น : </div>
                        <div align="right" class="ContentData">{{ConvertYYYYMMDDDateToString(objInsuranceClaimDetail.StartDate)}}</div>
                        <div style="float:left;" class="ContentText">สิ้นสุด : </div>
                        <div align="right" class="ContentData">{{ConvertYYYYMMDDDateToString(objInsuranceClaimDetail.EndDate)}}</div>
                        <div style="float:left;" class="ContentText">ค่าใช้จ่ายที่เกิดขึ้น : </div>
                        <div align="right" class="ContentData">{{numberWithCommas(objInsuranceClaimDetail.RequestAmt)}}</div>
                        <div style="float:left;" class="ContentText">สินไหมจ่าย : </div>
                        <div align="right" class="ContentData">{{numberWithCommas(objInsuranceClaimDetail.ClaimAmt)}}</div>
                        -->
                        <div style="float:left;" class="ContentText">เริ่มต้น : </div>
                        <div align="right" class="ContentData">{{stringNullReturnHyphen(objInsuranceClaimDetail.StartDate)}}</div>
                        <div style="float:left;" class="ContentText">สิ้นสุด : </div>
                        <div align="right" class="ContentData">{{stringNullReturnHyphen(objInsuranceClaimDetail.EndDate)}}</div>
                        <div style="float:left;" class="ContentText">ค่าใช้จ่ายที่เกิดขึ้น : </div>
                        <div align="right" class="ContentData">{{stringNullReturnHyphen(objInsuranceClaimDetail.RequestAmt)}}</div>
                        <div style="float:left;" class="ContentText">สินไหมจ่าย : </div>
                        <div align="right" class="ContentData">{{stringNullReturnHyphen(objInsuranceClaimDetail.ClaimAmt)}}</div>
                    </div>
                    
                </div>
                
            </div>
            
            
            <br/>
            
            <div style="padding:2px 0 0 10px;" class="txtLastedDate">
                {{latesdDataDate}}
            </div>
            <div align="center">
                <div ui-sref="app.InsureInfoVw.ClaimVw" style="width:30%;" >
                    <button class="button button-block button-positive TokioBtn" >
                        ย้อนกลับ
                    </button>
                </div>
            </div>
            
            
            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>

            
        </ion-scroll>
    </ion-content>
</ion-view>
