<ion-view view-title="บัตรประจำตัวผู้เอาประกันภัย">
    <ion-content class="has-header" scroll="False">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            <div ng-if="InsuranceCardInfo.is_card_display === 'Y'">
                <div style="width:100%; margin-top:0px; border:0px solid black;" align="center">
                    <div class="ShowCards" style="border:0px solid blue;">
                        <div ng-click="flip()" class="flip-container">
                            <div class="flipper clearfix">
                                <div class="front card item-text-wrapped" style="border:0px solid black;">
                                    <!-- *************************** Common Insured Card ***************************** -->
                                    <div class="holder_wrapx card-base-rider">
                                        <div class="holder_wrap_imgx">
                                            <img src="Resources/images/Cards/CareCard_Final_512x320px_front.png" class="insureCard" />
                                            <div class="item-in-card-top row">
                                                <div align="left" class="col TextCardTitle" style="font-weight: bold;color: #8b5e3b">
                                                    โตเกียวมารีนประกันชีวิต
                                                </div>
                                            </div>
                                            <div class="item-in-card-row1 row">
                                                <div align="left" class="col TextCard" style="font-weight: bold;">
                                                    {{InsuranceCardInfo.name_insure}}
                                                </div>
                                            </div>
                                            <div class="item-in-card-row2 row">
                                                <div align="left" class="col col-33 TextCard_Small">
                                                    กรมธรรม์เลขที่
                                                </div>
                                                <div align="left" class="col col-67 TextCard_Small">
                                                    {{InsuranceCardInfo.policy_no}}
                                                </div>
                                            </div>
                                            <div class="item-in-card-row3 row">
                                                <div align="left" class="col col-33 TextCard_Small">
                                                    แบบประกันภัย
                                                </div>
                                                <div align="left" class="col col-67 TextCard_Small">
                                                    {{InsuranceCardInfo.plan_name}}
                                                </div>
                                            </div>
                                            <div class="item-in-card-row4 row">
                                                <div align="left" class="col col-33 TextCard_Small">
                                                    วันเริ่มมีผลคุ้มครอง
                                                </div>
                                                <div align="left" class="col col-67 TextCard_Small">
                                                    {{InsuranceCardInfo.eff_protection_date}}
                                                </div>
                                            </div>
                                            <div class="item-in-card-row5 row">
                                                <div align="left" class="col col-80 TextCard_Small">
                                                    {{InsuranceCardInfo.sa_wording}} {{InsuranceCardInfo.sum_insured}} บาท</div>
                                                <div align="right" class="col col-20 TextCard_Small" ng-show="ShowPayment" ng-click="openPayment(InsuranceCardInfo.policy_Encrypt)">
                                                    <button class="button-small" style="background-color: #d2d711; color:#0090a1;border: 0; border-radius: 7%;">ชำระเบี้ย</button>
                                                    <!-- Test -->
                                                    <!-- <button class="button-small" style="background-color: #d2d711; color:#0090a1;border: 0; border-radius: 7%;">ชำระเบี้ย</button> -->
                                                </div>
                                            </div>
                                            <div class="item-in-card-bottom row">
                                                <div align="left" class="col TextCard" style="font-weight: bold;color: #36a8b6">
                                                    tokiomarine.com
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back card item-text-wrapped success">
                                    <div class="holder_wrapx card-base-rider">
                                        <div class="holder_wrap_imgx">
                                            <img src="Resources/images/Cards/CareCard_Final_512x320px_back.png" class="insureCard" />
                                            <div class="item-in-card-top row">
                                                <div align="left" class="col TextCardTitle" style="font-weight: bold;color: #8b5e3b">
                                                    โตเกียวมารีนประกันชีวิต
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="InsuranceCardInfo.is_card_display !== 'Y'" align="center">
                <h5>ไม่แสดงข้อมูลบัตรผู้เอาประกันภัย</h5>
            </div>
            <div style="padding:270px 0 0 10px;" class="txtLastedDate">
                {{latesdDataDate}}
            </div>
            <div style="padding-top:5px;" class="buttonBack">
                <button class="button button-block button-positive TokioBtn" ng-click="BackToPrevious()">

                    ย้อนกลับ

                </button>
            </div>
            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>