<ion-view view-title="Login" class="MainContentFresh view-authorize-with-bg">
    <ion-content>
        <!--<ion-scroll zooming="true" direction="xy">-->
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
            <ion-scroll>

                <div align="center" class="divPage">


                    <div align="center" class="divBlockLogin">



                        <div class="DivLoginMenu">
                            <div class="DivLogin">
                                <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/AGTPIcon.png"> &nbsp;
                            </div>

                        </div>

                        <div align="center">

                            <div style="color: #022B39;  font-style: normal; font-weight: bold; font-size:12px;">
                                <!--Super Tools-->
                                &nbsp;
                            </div>
                        </div>

                        <div class="DivLoginInput">

                            <div class="DivInputLogin">
                                <label class="item item-input LabelRounded">
                                    <i class="icon ion-android-person placeholder-icon"></i>
                                    <input type="text" placeholder=" ชื่อผู้ใช้งาน" class="Login-Input" ng-model="LoginUserId">
                                </label>
                            </div>

                            <div class="DivInputLogin">
                                <label class="item item-input LabelRounded">
                                    <i class="icon ion-locked placeholder-icon"></i>
                                    <input type="password" placeholder=" รหัสผ่าน" class="Login-Input" ng-model="LoginUserPwd">
                                </label>
                            </div>

                        </div>



                        <div class="DivButtonLogin">
                            <button class="button button-block button-positive TokioLogInBtn" ng-click="LogIn(LoginUserId,LoginUserPwd)">
                                เข้าสู่ระบบ
                            </button>
                        </div>



                        <div align="center" style="border:0px solid red !important;" ng-click="GoToAGWEB()">


                            <p class="text-center">
                                <a href="#" class="LabelLogInPage"> ลืมชื่อผู้ใช้งาน/รหัสผ่าน</a>
                            </p>
                        </div>



                        <div align="center">
                            <div style="color:red;">{{ErrMsg}}</div>
                        </div>

                        <br/>

                        <div align="center">

                            <div style="color: #022B39;  font-style: normal; font-weight: bold; font-size:12px;">
                                <p ng-bind-html="Msg"></p>
                            </div>
                        </div>



                    </div>




                </div>




            </ion-scroll>
            <!--</ion-scroll>-->
    </ion-content>
</ion-view>