<ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>
    
    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
        </button>
        <button class="button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 2">
            Next
        </button>
        <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 2">
            Start Super Tools
        </button>
    </ion-nav-buttons>
    
    
</ion-nav-bar>

<ion-view view-title="Intro">
    
    
    
    
    <ion-slide-box on-slide-changed="slideChanged(index)">
        
        <!-- Slide 1 -->
        <ion-slide>
            <h3>Login</h3>
            <div id="logo">
                <!--<img id="DivLoginLogo" class="Logo-normal" src="Resources/images/TouchPoint.png">-->
                <img id="DivLoginLogo" class="ManualImg" src="Resources/images/AG_Login.PNG">
            </div>
            <div style="width:100%;" align="center">
                <div style="width:80%;">
                <p>
                ผู้ใช้งานต้องระบุ "ชื่อผู้ใช้งาน" และ "รหัสผ่าน" ให้ถูกต้อง
                </p>
                </div>
            </div>
            <!--<p>
            Detail
            </p>-->
        </ion-slide>
        
        
        <!-- Slide 2 -->
        <ion-slide>
            <h3>Home</h3>
            
            <div id="logox">
                <img id="DivLoginLogo" class="ManualImg" src="Resources/images/2.png">
            </div>
            
            <!--<div id="list">
                <h5>steps:</h5>
                <ol>
                    <li>1.xxx</li>
                    <li>2.xxxyyy</li>
                    <li>3.xxxyyyzzz</li>
                </ol>
            </div>-->
        </ion-slide>
        
        
        <!-- Slide 3 -->
        <ion-slide>
            <h3>News</h3>
            <div id="logo">
                <img id="DivLoginLogo" class="ManualImg" src="Resources/images/AG_News.PNG">
            </div>
            <!--<p>
            :)
            </p>-->
        </ion-slide>
        
        
        
    </ion-slide-box>
    
    
    
    
</ion-view>


