<ion-view title="Map">
    <ion-content class="has-header" scroll="false">


      <div class="MainHeaderBar">Map</div>

      <!--<div>
        latitude : {{lat}}
        <br/>
        longitude : {{lng}}
      </div>-->

      <div style="height:100%; border:0px solid red;" align="center">

        <div id="LargeMap" lat="{{lat}}" lng="{{lng}}" zoom="16" map>

        </div>

      </div>


    </ion-content>
</ion-view>
