<ion-side-menus enable-menu-with-back-views="false" style="right:0px;">
  <ion-side-menu-content>
    <!--/* Content */-->
    <!-- /*<ion-nav-bar class="bar-positive"> */ -->
    <ion-nav-bar class="TokioBar" align-title="center">
      <ion-nav-back-button>
        Back
      </ion-nav-back-button>

      <!--/*<ion-nav-buttons side="right">
      <a href="#/home" class="button button-icon nav-clear ion-home"></a>
      <a href="#/upload" class="button button-icon nav-clear ion-upload"></a>
      <a href="#/settings" class="button button-icon nav-clear ion-navicon-round"></a>
      </ion-nav-buttons>*/-->

      <!--/* Header Toggle Button */-->
      <ion-nav-buttons side="left">
        <button
          class="button button-icon button-clear ion-navicon"
          menu-toggle="left"
        ></button>
      </ion-nav-buttons>

      <!--/* Header Title Bar */-->
      <ion-nav-title>
        <!--Name-Surname Customer-->
      </ion-nav-title>

      <!--/* Header Toggle Button Or Imgage At Right */-->
      <ion-nav-buttons side="right">
        <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>-->
        <!--<img src="http://content.jobsdb.co.th/Content/CmsContent/Logo/TH/JobsDBFiles/CompanyLogo/logo-s/840s.jpg">-->
        <!--<img src="Resources/images/Logo.jpg">-->
        <!--<img src="Resources/images/tm-logo.png" class="Logo-small">-->
        <!--<img src="Resources/images/TouchPoint.png" class="Logo-small">-->
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--<ion-header-bar class="bar-balanced bar-subheader">
        <h2 class="title">Sub Header</h2>
    </ion-header-bar>-->
    <!--<ion-header-bar class="TokioBarSubHeader bar-subheader">
        Name - Surname Customer
    </ion-header-bar>-->

    <ion-nav-view name="menuContent"> </ion-nav-view>
  </ion-side-menu-content>

  <!--/* Menu */-->
  <ion-side-menu side="left">
    <ion-header-bar
      class="bar-stable TokioBar"
      style="padding: 0px !important;"
    >
      <div
        style="width:100%; height:130px; background-color: #022B39 !important;"
      >
        <!--<img src="Resources/images/Logo.jpg">-->
        <!--<img src="Resources/images/tm-logo.png" class="Logo-small">-->
        <!--<img class="logo-menu-image" src="Resources/images/TouchPoint.png" class="Logo-small">-->
        <img src="Resources/images/AGTPIcon.png" class="logo-menu-image" />
      </div>
      <!--<h1 class="title">Touch Point</h1>-->
    </ion-header-bar>
    <ion-content class="LeftMenu">
      <ion-list>
        <!-- Profile -->
        <!--<ion-item nav-clear menu-close class="ProfileMenu">
          <div id="profile-info">
            <img id="profile-image" src="Resources/images/TmpProfile/002.jpg">
            <h3 id="profile-name">Song Hye Kyo</h3>
          </div>
        </ion-item>-->

        <ion-item class="LogoMenu" style="border:0px !important;">
          <div id="profile-info">
            &nbsp;
          </div>
        </ion-item>

        <!-- Menu List -->
        <ion-item nav-clear menu-close ui-sref="app.Home">
          <i class="icon icon-left ion-home" style="padding-right:10px;"></i
          >หน้าหลัก
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.News">
          <i
            class="icon icon-left ion-document-text"
            style="padding-right:10px;"
          ></i
          >ข่าวสาร
        </ion-item>

        <!--<ion-item nav-clear menu-close ui-sref="app.InsureInfo.InsuranceCard">
          <i class="icon icon-left ion-grid" style="padding-right:10px;"></i>ข้อมูลกรมธรรม์
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.PaymentLog">
          <i class="icon icon-left ion-clock" style="padding-right:10px;"></i>ประวัติการชำระเบี้ยประกันภัย
        </ion-item>-->

        <div ng-if="strLvCo == 61">
          <ion-item
            nav-clear
            menu-close
            ng-click="GoToCustomerList()"
            style="background-color: #022B39 ; color:#E6EAEB ; "
          >
            <i class="icon icon-left ion-clock" style="padding-right:10px;"></i
            >ข้อมูลลูกค้า
          </ion-item>
        </div>
        <div ng-if="strLvCo == 62" style="background-color: #022B39 ;">
          <ion-item
            nav-clear
            menu-close
            ng-click="GoToAgentList()"
            style="background-color: #022B39 ; color:#E6EAEB ; "
          >
            <i class="icon icon-left ion-clock" style="padding-right:10px;"></i
            >ข้อมูลตัวแทน/ลูกค้า
          </ion-item>
        </div>
        <div ng-if="strLvCo == 63">
          <ion-item
            nav-clear
            menu-close
            ng-click="GoToUnitList()"
            style="background-color: #022B39 ; color:#E6EAEB ; "
          >
            <i class="icon icon-left ion-clock" style="padding-right:10px;"></i
            >ข้อมูลหน่วย/ตัวแทน/ลูกค้า
          </ion-item>
        </div>

        <!-- Add menu :: Fail Direct debit and Credit Card Report -->
        <ion-item
          nav-clear
          menu-close
          ng-click="GoToFailReport('D')"
          style="background-color: #022B39 ; color:#E6EAEB ; "
        >
          <i class="icon icon-left ion-cash" style="padding-right:10px;"></i
          >รายงานหักบัญชีธนาคารไม่ผ่าน
        </ion-item>
        <ion-item
          nav-clear
          menu-close
          ng-click="GoToFailReport('C')"
          style="background-color: #022B39 ; color:#E6EAEB ; "
        >
          <i class="icon icon-left ion-card" style="padding-right:10px;"></i
          >รายงานตัดบัตรเครดิตไม่ผ่าน
        </ion-item>
        <!-- End menu :: Fail Direct debit and Credit Card Report -->
        <div ng-hide="hideMe">
          <ion-item
            nav-clear
            menu-close
            ng-click="openBrochureLink(urlPBC)"
            style="background-color: #022B39 ; color:#E6EAEB ; "
          >
            <i
              class="icon icon-left ion-document"
              style="padding-right:10px;"
            ></i
            >ข้อมูลผลิตภัณฑ์
          </ion-item>
        </div>

        <ion-item nav-clear menu-close ui-sref="app.Hospital">
          <i class="icon icon-left ion-medkit" style="padding-right:10px;"></i
          >ค้นหาโรงพยาบาลเครือข่าย
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.DownloadDocument">
          <i class="icon icon-left ion-archive" style="padding-right:10px;"></i
          >ดาวน์โหลดเอกสาร
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.Branch">
          <i class="icon icon-left ion-merge" style="padding-right:10px;"></i
          >สาขา
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.ContactUs">
          <i
            class="icon icon-left ion-chatboxes"
            style="padding-right:10px;"
          ></i
          >ติดต่อเรา
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.ProfileSetting">
          <i class="icon icon-left ion-settings" style="padding-right:10px;"></i
          >ตั้งค่าผู้ใช้งาน
        </ion-item>
        <ion-item
          nav-clear
          menu-close
          ng-click="LogOutTouchPoint()"
          style="background-color: #022B39 ; color:#E6EAEB ; "
        >
          <i class="icon icon-left ion-power" style="padding-right:10px;"></i
          >ออกจากระบบ
        </ion-item>
        <ion-item
          nav-clear
          menu-close
          style="background-color: #022B39 ; color:#E6EAEB ; "
        >
          <i
            class="icon icon-left ion-information-circled"
            style="padding-right:10px;"
          ></i
          >เวอร์ชั่น {{ appVersion }}
        </ion-item>
        <ion-item
          nav-clear
          menu-close
          style="background-color:#022B39;color:#E6EAEB;"
          ng-click="privacyPolicy()"
        >
          <i
            class="icon icon-left ion-information-circled"
            style="padding-right:10px;"
          ></i
          >นโยบายข้อมูลส่วนบุคคล
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
