

<div style="padding-top:20px;">
    <div class="DivHome" align="center" style="font-size: 14px; font-weight:bold;">
        
        <!--<div class="DivLoginMenux">
            <div class="DivLoginx">
                <div class="DivLogoHome">
                    <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/AGTPIcon.png">
                        </div>
            </div>
        </div>
        
         <div><h4 style="color:#022B39;">มีการปรับปรุงเวอร์ชั่นใหม่</h4></div>
         <div><h4 style="color:#022B39;">กรุณาทำการดาวน์โหลดเวอร์ชั่นใหม่จาก</h4></div>
         <div><h4 style="color:#022B39;">App Store หรือ Play Store</h4></div>-->
        
        <div class="list card">
            <div class="item item-body">
                <div class="DivLogoHome">
                    <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/AGTPIcon.png">
                        </div>
                <h2>มีการปรับปรุงเวอร์ชั่นใหม่</h2>
                <p>กรุณาทำการดาวน์โหลด</p>
                <button class="button button-outline button-positive" ng-click="getApp()">Download</button>
            </div>
        </div>
        
        
        
        
    </div>
    
    <div>
        <p>
        <p ng-bind-html="TextHBD"></p>
        </p>
    </div>
    
    <div class="BottomPageHome">
        &nbsp;</br>&nbsp;
    </div>
</div>
