<ion-view view-title="รายละเอียด">
  <ion-content style="padding-top:20px;">
      <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

    <div>
      <!--<p>id: {{id}}</p>-->

      <div style="width: 100%; padding:5px 10px 5px 10px;" ng-repeat="objNews in ListNews">
        <div style="border:0px solid red;" align="center">
            <h4>
              {{objNews.NewsHeadLine}}
            </h4>
        </div>
        <div >
            <p>
                <p ng-bind-html="objNews.NewsContent"></p>
            </p>
        </div>


        <div>
          <div>
             <u><b>Gallery</b></u>
          </div>

          <div ng-repeat="objNewsImg in objNews.ListNewsImage">
            <img src="{{objNewsImg.NewsImgPathFileName}}" class="NewsMain">
          </div>

        </div>

      </div>




     </div>
    
    <div class="BottomPage">
        &nbsp;</br>&nbsp;
    </div>
    
    </ion-scroll>
  </ion-content>
</ion-view>
