<ion-view view-title="ข่าวสาร">
    <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
        
        
        <div class="divNewsMain">
            
            <div>
                
                <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" auto-play="true" does-continue="true" ng-if="ListNews"> <!-- ng-if="ListNews" is fix bug about auto width = 0 -->
                    
                    <ion-slide ng-repeat="objNewsHighlight in ListNewsHighlight" >
                        <div>
                            <div ui-sref="app.NewsDetail({ id: objNewsHighlight.NewsID })" class="divNewsMainImg">
                                
                                <img src="{{objNewsHighlight.NewsImgTitlePathFileName}}" class="NewsMainImg" >
                                    
                                    </div>
                            <div align="center" style="padding-left:10px; padding-right:10px;"><h6>{{objNewsHighlight.NewsHeadLine}}</h6></div>
                            <div align="right" ui-sref="app.NewsDetail({ id: objNewsHighlight.NewsID })">
                                <a href="#">อ่านต่อ... </a>
                            </div>
                        </div>
                        
                    </ion-slide>
                    
                </ion-slide-box>
            </div>
            
            
        </div>
        
        
        <div>
            <table class="tblNewsList">
                <tr>
                    <td>
                        <h5><u>รายการข่าวทั้งหมด</u></h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr class="style-one"></hr></td>
                </tr>
            </table>
        </div>
        <div class="divNewsList">
            <table class="tblNewsList" ng-repeat="objNews in ListNews">
                <tr >
                    <td class="trNewsListImg" >
                        <div class ="divNewsListImg" ui-sref="app.NewsDetail({ id: objNews.NewsID })">
                            <img src="{{objNews.NewsImgTitlePathFileName}}" class="NewsListImg" >
                                </div>
                    </td>
                    <td class="trNewsListContent">
                        <div ui-sref="app.NewsDetail({ id: objNews.NewsID })">
                            {{objNews.NewsHeadLine}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr class="style-one"></hr></td>
                </tr>
            </table>
        </div>
        
        
        <div class="BottomPage">
            &nbsp;</br>&nbsp;
        </div>
        
        
    </ion-scroll>
    
    
    
</ion-view>



