<ion-view title="Notification Detail">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">
        

        <div class="MainHeaderBar">รายละเอียด</div>

        <div class="SubHeaderData">ข้อความจากระบบ1</div>

        <div class="=messages">
          ข้อความทดสอบจากระบบ ส่งมาเพื่อทดสอบ ในวันที่ 20160401
        </div>




        </ion-scroll>
    </ion-content>
</ion-view>
