<ion-view title="รายการแจ้งเตือน">
    <ion-content class="has-header" >
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

        <div class="MainHeaderBar">รายการข้อความ / แจ้งเตือน </div>

        <div class="SubHeaderData">พบ {{CountNewNotification}} ข้อความใหม่</div>

        <div ng-repeat="objNotification in ListNotification" style="padding-top:10px;">

            <div style="height:auto;" align="center">

              <div class="DivMessage" style="width:95%;" >
              <div style="float:left; display: inline; width:100%;">
                <div >

                    <div style="float:left; display: inline; width:75%; padding-left:10px; " align="left">
                      {{objNotification.NotificationTitle}}
                    </div>
                    <div ng-switch on="objNotification.NotificationStatus">
                      <div ng-switch-when="New">
                          <div class="NewText" >New</div>
                      </div>
                      <div ng-switch-default>
                          &nbsp;
                      </div>

                    </div>

                </div>
                <div style="padding-left:10px; padding-right:10px;" align="left">
                  : {{objNotification.NotificationMsg}}
                </div>
                <div style="padding-left:10px;" align="left">
                  ผู้ส่ง: {{objNotification.NotificationBy}}
                </div>
                <div style="padding-left:10px;" align="left">
                  วันที่ : {{objNotification.NotificationDate}}
                </div>
              </div>
            </div>

            </div>

            <hr class="style-one"></hr>


        </div>




        </ion-scroll>
    </ion-content>
</ion-view>
