<!--<ion-view view-title="OTP" class="MainContent">-->
<ion-view view-title="OTP" >
  <ion-content style="padding-top:0px;">
      <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

    <div>
      <!--<p>id: {{id}}</p>-->

      <div class="MainHeaderBar">OTP</div>


     </div>
<!--<div class="TextCard InsureNo" ng-if="InsuranceCardInfo.Chdrnum != null">กรมธรรม์เลขที่ : {{InsuranceCardInfo.Chdrnum}}</div>-->
    <div>
        <div ng-if="pIDCard != ''">
          <div style="float:left;" class="ContentText ShowBorderBottomDot">หมายเลขบัตรประชาชน : </div>
          <div align="right" class="ContentData ShowBorderBottomDot">{{pIDCard}}</div>
        </div>
        <div ng-if="pChdrnum != ''">
          <div style="float:left;" class="ContentText ShowBorderBottomDot">กรมธรรม์เลขที่ : </div>
          <div align="right" class="ContentData ShowBorderBottomDot">{{pChdrnum}}</div>
        </div>
        <div ng-if="pName_ins != ''">
          <div style="float:left;" class="ContentText ShowBorderBottomDot">ชื่อ-สกุล : </div>
          <div align="right" class="ContentData ShowBorderBottomDot">{{pName_ins}} {{pLastname_ins}}</div>
        </div>
        <div ng-if="pMobile_no != ''">
          <div style="float:left;" class="ContentText ShowBorderBottomDot">โทรศัพท์ : </div>
          <div align="right" class="ContentData ShowBorderBottomDot">{{pMobile_no}}</div>
        </div>
        <div ng-if="pEmail != ''">
          <div style="float:left;" class="ContentText ShowBorderBottomDot">Email : </div>
          <div align="right" class="ContentData ShowBorderBottomDot">{{pEmail}}</div>
        </div>
        <div ng-if="pUserid != ''">
          <div style="float:left;" class="ContentText ShowBorderBottomDot">User ID : </div>
          <div align="right" class="ContentData ShowBorderBottomDot">{{pUserid}}</div>
        </div>

        <div>
          <div style="float:left;" class="ContentText ShowBorderBottomDot">OTP : </div>
          <div align="right" class="ContentText ShowBorderBottomDot" style="margin-top:5px; margin-bottom:5px; border:0px solid blue;">

            <div style="float:left;">
              <input type="text" placeholder="" class="" ng-model="Otp" style="border:1px solid silver; height:20px; width:80px;">
            </div>
            <div style="float:left;">

              <button id="btnReqOTP" class="TokioBtn" style="width:80px; height:20px; font-size:8px;" ng-click="RequestOTP()" ng-disabled="disabled">
                Request OTP
              </button>

            </div>

          </div>

        </div>
        <br/>
        <br/>
        <div align="center">

          <button class="TokioBtn" style="width:80px; height:30px; font-size:12px;" ng-click="CancelOTP()">
            ยกเลิก
          </button>

          <button class="TokioBtn" style="width:80px; height:30px; font-size:12px;" ng-click="Submit(Otp)">
            ตกลง
          </button>

        </div>


    </div>


     <!--<div>
       {{pIDCard}}
     </div>
     <div>
       {{pChdrnum}}
     </div>
     <div>
       {{pName_ins}}
     </div>
     <div>
       {{pLastname_ins}}
     </div>
     <div>
       {{pMobile_no}}
     </div>
     <div>
       {{pPhone}}
     </div>
     <div>
       {{pEmail}}
     </div>
     <div>
       {{pUserid}}
     </div>
     <div>
       {{pPwd}}
     </div>-->
     </ion-scroll>
  </ion-content>
</ion-view>
