<ion-view title="ประวัติการชำระเบี้ยฯ">
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">



    <!--<div style="width:100%; height:1700px; border: 0px solid red;">-->
    <div>

        <div class="divInsuranceNo" style="border:0px solid red;  margin-top:0px;">
          <div style="float:left;width:50%; height:30px;"  class="InsureNoContentText">เลขที่กรมธรรม์ ></div>

          <div>
            <select style="width:50%; height:30px;"  ng-model="ddlSelectChdrnum" ng-change="GetPaymentLogByChdrnum(ddlSelectChdrnum)">
              <option value=''>กรุณาเลือก</option>
              <option ng-repeat="objInsuranceNo in ListInsuranceNo" value="{{objInsuranceNo.Chdrnum}} " ng-selected= "{{objInsuranceNo.Chdrnum == DefaultListInsuranceNo}}">{{objInsuranceNo.Chdrnum}}</option>
            </select>
          </div>
        </div>
        
        <div align="center" ng-if="HasData != 'Y'">
            <h4>ไม่พบข้อมูล</h4>
        </div>
        
        
        <div style="float:left;width:100%;" class="SubHeaderData" ng-if="HasData == 'Y'">ใบแจ้งกำหนด / ใบรับรอง</div>
        <div ng-if="HasData == 'Y'">

          <br />
        <div align="center" style="border: 0px solid red;">
            <div align="center" ng-if="DocPOS001.length != 0" style="border: 0px solid blue;">
                <!--ng-if="InsuranceCardInfo.Remark1 != null"-->
                
                <ion-list>
                    <ion-item click-for-options>
                
                    <!--<button style="width:95%;" class="button button-block button-positive TokioBtn icon-left ion-android-download" ng-click="DownloadNoti(DocPOS001[0].Docfullname)">
                        ดาวน์โหลดใบแจ้งกำหนดชำระเบี้ย
                     </button>-->
            
                    <div align="center" style="border: 0px solid black;">
                        <button style="width:100%;" class="button button-block button-positive TokioDocNotificateDLBtn icon-left">
                            ใบแจ้งกำหนดชำระเบี้ย
                        </button>
                    </div>
            
                    <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                        ng-click="DownloadNoti(DocPOS001[0].Docfullname)" >
                        ดูข้อมูล
                    </ion-option-button>
            
                    <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                        ng-click="DownloadAndSendMailNoti(DocPOS001[0].Docfullname)" >
                        ส่งเข้าอีเมล์
                    </ion-option-button>
            
                    </ion-item>
                    
                </ion-list>
                
          </div>
          <div ng-if="DocPOS014.length != 0">
              <ion-list>
                  <ion-item click-for-options>
                      
                      <!--<button style="width:95%;" class="button button-block button-positive TokioBtn icon-left ion-android-download" ng-click="DownloadNoti(DocPOS001[0].Docfullname)">
                       ดาวน์โหลดใบแจ้งกำหนดชำระเบี้ย
                       </button>-->
                      
                      <div align="center" style="border: 0px solid black;">
                          <button style="width:100%;" class="button button-block button-positive TokioDocCertificateDLBtn icon-left">
                              ใบรับรองชำระเบี้ย
                          </button>
                      </div>
                      
                      <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                          ng-click="DownloadCert(DocPOS014[0].Docfullname)" >
                          ดูข้อมูล
                      </ion-option-button>
                      
                      <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                          ng-click="DownloadAndSendMailCert(DocPOS014[0].Docfullname)" >
                          ส่งเข้าอีเมล์
                      </ion-option-button>
                      
                  </ion-item>
                  
              </ion-list>
 
 
          </div>

        </div>


        <div style="width:100%;" class="SubHeaderData">ใบเสร็จรับเงิน</div>
        <div ng-if="HasData == 'Y'">
          <ion-list>


                  <!--<ion-item click-for-options ng-repeat="objPaymentLog in ListPaymentLog" item="objPaymentLog">-->
                  <ion-item click-for-options ng-repeat="objDocPOS037 in DocPOS037" item="objDocPOS037">
                    <!--Item {{ item.id }}-->
                    
                    <div style="float:left; width: 99%;">
                        <div style="float:left;" class="ContentText">วันครบกำหนดชำระ : </div>
                        <div align="right" class="ContentData" >{{ConvertYYYYMMDDDateToString(objDocPOS037.Duedate)}}</div>
                        
                        <div style="float:left;" class="ContentText">วันที่ชำระเบี้ย : </div>
                        <div align="right" class="ContentData" >{{ConvertYYYYMMDDDateToString(objDocPOS037.Paiddate)}}</div>

                        <div style="float:left;" class="ContentText">วิธีการชำระเบี้ยประกันภัย : </div>
                        <div align="right" class="ContentData" style="white-space: normal;">{{objDocPOS037.Pay_type}} </div>

                        <div style="float:left;" class="ContentText">จำนวนเงิน (บาท) : </div>
                        <div align="right" class="ContentData">{{numberWithCommas(objDocPOS037.Amount)}}</div>
                        
                    </div>
                    
                    
                    <div ng-if="objDocPOS037.Docfullname != '' && objDocPOS037.Docfullname != null">
                        <i class="icon ion-chevron-right"></i>
                    </div>
                    

                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="onItemDelete(item)">
                    </ion-delete-button>
                    <!--<ion-option-button class="button-assertive TokioDocCertificateDLBtn"
                                       ng-click="edit(item)">
                      ใบรับรอง<!-/*-ใบรับรองการชำระเบี้ย-/*->
                    </ion-option-button>-->
                    
                    
                    
                    <div ng-if="objDocPOS037.Docfullname != '' && objDocPOS037.Docfullname != null">

                      <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                                         ng-click="DownloadBill(objDocPOS037.Docfullname)" >
                        ดูข้อมูล<!--ใบเสร็จรับเงินเบี้ยประกันภัย-->
                      </ion-option-button>
                      
                      <ion-option-button class="button-calm TokioDocBillDLBtn icon-right ion-android-download"
                          ng-click="DownloadAndSendMailBill(objDocPOS037.Docfullname)" >
                          ส่งเข้าอีเมล์
                      </ion-option-button>
                    </div>
                    
                    
                    
                    <!--<ion-option-button class="button-calm TokioDocNotificateDLBtn"
                                       ng-click="share(item)">
                      ใบแจ้ง<!-/*-ใบแจ้งครบกำหนดชำระเบี้ย-*/->
                    </ion-option-button>-->

                  </ion-item>

            </ion-list>
        </div>

      </div>
        
    </div>


<div class="BottomPage">
    &nbsp;</br>&nbsp;
</div>

        </ion-scroll>
    </ion-content>
</ion-view>



<script id="ModalSendMail.tmpl.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
    <h1 class="title">Send Mail</h1>
    </ion-header-bar>
    
    <ion-content>
    
    
    <div class="MainHeaderBar" style="height:20px; padding-top:1px;">
    Email
    </div>
    
    <div class="list" style="border:1px solid green;">
    
    <!--<label class="item item-input item-floating-label">
    <span class="input-label">From</span>
    <input id="txt1" type="text" style="width:100%;" placeholder="From : somemail@mail.com" ng-model="MailFrom_Modal.text" ng-blur="ValidateMailFromFormat(MailFrom_Modal.text)">
    <div style="float:left; color:red;" >{{MailFromMsg}}</div>
    </label>-->
    
    <label class="item item-input item-floating-label">
    <span class="input-label">To</span>
    <input type="text" style="width:100%;" placeholder="To : somemail@mail.com" ng-model="MailTo_Modal.text" ng-blur="ValidateMailToFormat(MailTo_Modal.text)">
    <div style="float:left; color:red;" >{{MailToMsg}}</div>
    </label>
    
    <label class="item item-input item-floating-label">
    <span class="input-label">CC</span>
    <input type="text" style="width:100%;" placeholder="CC : somemail@mail.com" ng-model="MailCC_Modal.text" ng-blur="ValidateMailCCFormat(MailCC_Modal.text)">
    <div style="float:left; color:red;" >{{MailCCMsg}}</div>
    </label>
    
    <label class="item item-input item-floating-label">
    <span class="input-label">BCC</span>
    <input type="text" style="width:100%;" placeholder="BCC : somemail@mail.com" ng-model="MailBCC_Modal.text" ng-blur="ValidateMailBCCFormat(MailBCC_Modal.text)">
    <div style="float:left; color:red;" >{{MailBCCMsg}}</div>
    </label>
    
    <label class="item item-input item-floating-label">
    <span class="input-label">Subject</span>
    <input type="text" style="width:100%;" placeholder="Subject" ng-model="MailSubject_Modal.text">
    <div style="float:left; color:red;" >{{MailSubjectMsg}}</div>
    </label>
    
    <label class="item item-input item-floating-label">
    <span class="input-label">Attached</span>
    <input type="text" style="width:100%;" placeholder="Attached" ng-model="MailAttached" ng-disabled="true">
    <div style="float:left; color:red;" >{{FN}}</div>
    </label>
    
    <label class="item item-input item-floating-label">
    <span class="input-label">Detail</span>
    <textarea name="txtMailDetail" cols="40" rows="4" placeholder="Detail" ng-model="MailDetail_Modal.text"></textarea>
    <div style="float:left; color:red;" >{{MailDetailMsg}}</div>
    </label>
    
    
    
    
    </div>
    
    <div align="center">
    
    <button class="TokioBtn" style="width:100px; height:30px; font-size:12px;" ng-click="SendMailProcess(false)">
    Cancel
    </button>
    
    <button class="TokioBtn" style="width:100px; height:30px; font-size:12px;" ng-click="SendMailProcess(true)">
    Send Mail
    </button>
    
    <!--<h1>Msg : {{AttachedFile.File}}</h1>-->
    
    </div>
    
    <br/>
    
    </ion-content>
    </ion-modal-view>
</script>
