<!--<ion-view title="Map">
    <ion-content class="has-header" scroll="false">
555<br/>
666<br/>
777<br/>

      <pdf-viewer
        delegate-handle="relativity-special-general-theory"
        url="{{pdfUrl}}"
        scale="1"
        show-toolbar="true">
      </pdf-viewer>



    </ion-content>
</ion-view>
-->


<ion-view title="PDF">
    <ion-content class="has-header" scroll="false">
555<br/>
666<br/>
777<br/>
888<br/>

<pdfviewer src="http://cdn.mozilla.net/pdfjs/helloworld.pdf" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>


</ion-content>
</ion-view>
