<ion-view title="ตั้งค่าผู้ใช้งาน">
  <ion-content class="has-header">
    <ion-scroll
      zooming="true"
      direction="xy"
      min-zoom="1"
      overflow-scroll="false"
    >
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="Email" placeholder="youremail@yourdomain.com" />
        </label>
      </div>

      <button class="button button-block button-positive TokioBtn" ng-click="saveData(Email)">
        บันทึก
      </button>
    </ion-scroll>
  </ion-content>
</ion-view>
