<ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>
    
    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
        </button>
        <button class="button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 2">
            Next
        </button>
        <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 2">
            Start Touch Point
        </button>
    </ion-nav-buttons>
    
    
</ion-nav-bar>

<ion-view view-title="Intro">
    

    
    <!--<ion-slide-box on-slide-changed="slideChanged(index)">
        
        
        <ion-slide>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
                <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
            We've worked super hard to make you happy.
            </p>
            <p>
            But if you are angry, too bad.
            </p>
        </ion-slide>
        
        
        
        <ion-slide>
            <h3>Using Awesome</h3>
            
            <div id="list">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                </ol>
            </div>
        </ion-slide>
        
        
        
        <ion-slide>
            <h3>Any questions?</h3>
            <p>
            Too bad!
            </p>
        </ion-slide>
        
        
        
    </ion-slide-box>-->
    
    
    
    
    <ion-slide-box on-slide-changed="slideChanged(index)">
        
        <!-- Slide 1 -->
        <ion-slide>
            <h3>Slide 1</h3>
            <div id="logo">
                <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/2.png">
            </div>
            <p>
            Description
            </p>
            <p>
            Detail
            </p>
        </ion-slide>
        
        
        <!-- Slide 2 -->
        <ion-slide>
            <h3>Slide 2</h3>
            
            <div id="list">
                <h5>steps:</h5>
                <ol>
                    <li>1.xxx</li>
                    <li>2.xxxyyy</li>
                    <li>3.xxxyyyzzz</li>
                </ol>
            </div>
        </ion-slide>
        
        
        <!-- Slide 3 -->
        <ion-slide>
            <h3>Any questions?</h3>
            <p>
            :)
            </p>
        </ion-slide>
        
        
        
    </ion-slide-box>
    
    
    
    
</ion-view>


<!--<ion-view view-title="test">
    <ion-content>
    <ion-scroll zooming="true" direction="xy">
        
        <div>5555</div>
        
    </ion-scroll>
    </ion-content>
</ion-view>-->
