<ion-view view-title="Register" class="MainContentFresh view-authorize-with-bg">
  <ion-content>
      <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

        <div align="center" class="divPage">
            
            
            <div class="DivFormContent">

            <div class="DivLoginMenu">
                <div class="DivLogin">
        
                    <img id="DivLoginLogo" class="Logo-normal" src="Resources/images/Icon_to_touch_point_edit-01.png">
                    <!--<h2  class="DivVersionText">V.0.1.1609014</h2>-->
            
                </div>
                
            </div>


            <div  class="MainHeaderBar" style="border:1px solid #0096A9">
                ลงทะเบียน
            </div>
            
            


            <div class="list" id="Reg" style="" align="left">


                <label class="item item-input item-floating-label">
                    <span class="input-label">หมายเลขบัตรประชาชน*</span>
                    <input type="text" placeholder="หมายเลขบัตรประชาชน*" class="inputLogin" ng-model="IDCard" ng-blur="IsDupIDCard(IDCard)">
                    <div style="float:left; color:red;" >{{DupIDCarsMsg}}</div>
                </label>

                <!--<label class="item item-input item-floating-label">
                    <span class="input-label">เลขที่กรมธรรม์*</span>
                    <input type="text" placeholder="เลขที่กรมธรรม์*" class="inputText" ng-model="Chdrnum" >
                </label>-->

                <label class="item item-input item-floating-label">
                    <span class="input-label">ชื่อผู้เอาประกัน(ไม่ระบุคำนำหน้า)*</span>
                    <input type="text" placeholder="ชื่อผู้เอาประกัน(ไม่ระบุคำนำหน้า)*" class="inputLogin" ng-model="Name_ins">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">นามสกุลผู้เอาประกันภัย*</span>
                    <input type="text" placeholder="นามสกุลผู้เอาประกันภัย*" class="inputLogin" ng-model="Lastname_ins" >
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">เบอร์โทรศัพท์มือถือ*</span>
                    <input type="text" placeholder="เบอร์โทรศัพท์มือถือ*" class="inputLogin" ng-model="Mobile_no" ng-blur="IsPhoneNo(Mobile_no)">
                    <div style="float:left; color:red;" >{{InvalidPhoneFormatMsg}}</div>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">เบอร์โทรศัพท์บ้าน</span>
                    <input type="text" placeholder="เบอร์โทรศัพท์บ้าน" class="inputLogin" ng-model="Phone" >
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">อีเมล์*</span>
                    <input type="text" placeholder="อีเมล์*" class="inputLogin" ng-model="Email" ng-blur="ValidateEmailFormat(Email)" text="">
                    <div style="float:left; color:red;" >{{InvalidEmailFormatMsg}}</div>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">กำหนดรหัสผู้ใช้งาน*</span>
                    <input type="text" placeholder="กำหนดรหัสผู้ใช้งาน*" class="inputLogin" ng-model="Userid" ng-blur="IsValidUsername(Userid)" maxlength="20">
                    <div style="float:left; color:red; padding-right: 2px;" class="wordwrap" >{{DupUserIDMsg}}</div>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">กำหนดรหัสผ่านผู้ใช้งาน*</span>
                    <input type="Password" placeholder="กำหนดรหัสผ่านผู้ใช้งาน*" class="inputLogin" ng-model="Pwd" ng-blur="IsValidPWD(Pwd)" maxlength="20">
                    <div style="float:left; color:red; padding-right: 2px;" class="wordwrap"  >{{PWDMsg}}</div>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">ยืนยันรหัสผ่านผู้ใช้งาน*</span>
                    <input type="Password" placeholder="ยืนยันรหัสผ่านผู้ใช้งาน*" class="inputLogin" ng-model="ConfirmPwd" ng-blur="IsValidConfirmPWD(ConfirmPwd)" maxlength="20">
                    <div style="float:left; color:red; padding-right: 2px;" class="wordwrap"  >{{ConfirmPWDMsg}}</div>
                </label>


            </div>

            <div class="padding">
                
                <button class="button button-block button-positive TokioBtn" ng-disabled="disabled" ng-click="Register(IDCard,'',Name_ins,Lastname_ins,Mobile_no,Phone,Email,Userid,Pwd,ConfirmPwd);">
                    ตกลง
                </button>
                <button class="button button-block button-positive TokioBtn" ng-click="GoToLogin()">
                    ย้อนกลับ
                </button>
            </div>


            </div>
    
    </div>

</ion-scroll>
  </ion-content>
</ion-view>
