<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Send Mail</h1>
    </ion-header-bar>
    
    <ion-content>
        
        
        <div class="MainHeaderBar" style="height:20px; padding-top:1px;">
            Email
        </div>
        
        <div class="list" style="border:1px solid green;">
            
            <label class="item item-input item-floating-label">
                <span class="input-label">From</span>
                <input type="text" style="width:100%;" placeholder="From : somemail@mail.com" class="input-login" ng-model="MailFrom">
                    <div style="float:left; color:red;" >{{MailFromMsg}}</div>
                    </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">To</span>
                <input type="text" style="width:100%;" placeholder="To : somemail@mail.com" class="input-login"  ng-model="MailTo">
                    <div style="float:left; color:red;" >{{MailToMsg}}</div>
                    </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">CC</span>
                <input type="text" style="width:100%;" placeholder="CC : somemail@mail.com" class="input-login"  ng-model="MailCC">
                    <div style="float:left; color:red;" >{{MailCCMsg}}</div>
                    </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">BCC</span>
                <input type="text" style="width:100%;" placeholder="BCC : somemail@mail.com" class="input-login"  ng-model="MailBCC">
                    <div style="float:left; color:red;" >{{MailBCCMsg}}</div>
                    </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Subject</span>
                <input type="text" style="width:100%;" placeholder="Subject" class="input-login"  ng-model="MailSubject">
                    <div style="float:left; color:red;" >{{MailSubjectMsg}}</div>
                    </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Attached</span>
                <input type="text" style="width:100%;" placeholder="Attached" class="input-login"  ng-model="MailAttached" ng-disable="true">
                    <div style="float:left; color:red;" >{{MailSubjectMsg}}</div>
                    </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Detail</span>
                <textarea name="txtMailDetail" cols="40" rows="5"></textarea>
                <div style="float:left; color:red;" >{{MailDetailMsg}}</div>
            </label>
            
            
            
            
        </div>
        
        <div align="center">
            
            <button class="TokioBtn" style="width:80px; height:30px; font-size:12px;" ng-click="xxx()">
                ยกเลิก
            </button>
            
            <button class="TokioBtn" style="width:80px; height:30px; font-size:12px;" ng-click="Submit(val)">
                ตกลง
            </button>
            
        </div>
        
    </ion-content>
</ion-modal-view>