<ion-view view-title="Setting">
  <ion-content>

    <div class="MainHeaderBar">
        ตั้งค่าผู้ใช้งาน
    </div>
    <div class="SubHeaderData ContentText">
        เปลี่ยนรหัสผ่าน
    </div>

    <div align="center">
      <div style="border:0px solid green; width:95%; margin-top:10px;" >

        <label class="item item-input item-floating-label">
          <span class="input-label">รหัสผ่านเดิม</span>
          <input type="password" placeholder="รหัสผ่านเดิม" ng-model="user.oldPassword" ng-blur="IsValidPWD(Pwd)">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">รหัสผ่านใหม่</span>
          <input type="password" placeholder="รหัสผ่านใหม่" ng-model="user.newPassword" ng-blur="IsValidPWD(Pwd)">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">ยืนยันรหัสผ่านใหม่</span>
          <input type="password" placeholder="ยืนยันรหัสผ่านใหม่" ng-model="user.ConfirmNewPassword">
        </label>

      </div>
    </div>


    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        ยืนยัน
      </button>
    </div>

  </ion-content>
</ion-view>
