
<ion-content>
  <button class="button button-stable button-block">
    Open Map
  </button>
</ion-content>

<ion-pane ng-controller="MapController">

</ion-pane>

<button ... ng-click="openMap()">
   Open Map
</button>
