<ion-view view-title="Google Maps V3 example">

    <ion-content ng-controller="TestMapCtrl">


       <div id="map" lat="13.735052" lng="100.576692" zoom="16" map style="width:100%; height:auto;">

       </div>

    </ion-content>
</ion-view>
