<ion-view view-title="ข้อมูลหน่วย"  >
    <ion-content class="has-header">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

            <div class="divInsuranceNo" style="border:0px solid red;  margin-top:0px;">
                <div style="float:left;width:50%; height:30px;"  class="SubHeaderData">
                    <div align="right">เลือกหน่วย >>></div>
                </div>



                <div>

                    <select style="width:50%; height:30px;"  ng-model="ddlSelectUnit" ng-change="loadOrder(ddlSelectUnit)">

                        <option value=''>กรุณาเลือก</option>
                        <option ng-repeat="objUnitUnderCtrl in ListUnitUnderCtrl" value="{{objUnitUnderCtrl.Unitco}} " >{{objUnitUnderCtrl.Asname + ' ' + objUnitUnderCtrl.Assname}}</option>
                    </select>
                </div>
            </div>


            <div class="item-input-inset">
                <input auto-complete placeholder=" Search" ng-model="Unitsearch.Asname"
                    style="width:100%; padding-left:11px;" >

                    </div>
            <div style="padding-left:10px;">
                รายชื่อหน่วย
            </div>
            <ion-list>
                <ion-item  type="item-text-wrap" href="#" ng-click="loadOrder(UnitMem.Unitco)"
                    ng-repeat="UnitMem in UnitMember | filter:Unitsearch | limitTo:listlength">
                    <!--{{AGMem.Ascode + "  " +AGMem.Asname + " " + AGMem.Assname}}-->



                    <!--<div style="float:left; width: 99%;">
                        {{UnitMem.Asname + " " + UnitMem.Assname}}
                    </div>-->

                    <!--<div style="float:left; width: 99%;">
                        {{UnitMem.Ascode + " " "+ UnitMem.Asname + " " + UnitMem.Assname + " " + UnitMem.Asstatus}}
                    </div>-->
                    <div style="float:left; width: 99%; white-space: normal;" ng-if="UnitMem.Asstatus=='0'">
                        {{UnitMem.Ascode + " " + UnitMem.Asname + " " + UnitMem.Assname}}
                    </div>
                    <div style="float:left; width: 99%; white-space: normal;" ng-if="UnitMem.Asstatus=='1'">
                        {{UnitMem.Ascode + " " + UnitMem.Asname + " " + UnitMem.Assname + " *"}}
                    </div>

                    <div>
                        <i class="icon ion-chevron-right"></i>
                    </div>


                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="listlength<=UnitMember.length"
                on-infinite="loadMore()" distance="3%">
            </ion-infinite-scroll>






            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>




        </ion-scroll>
    </ion-content>
</ion-view>
