<ion-view view-title="รายละเอียดความเคลื่อนไหวของกองทุน">
    <ion-content class="has-header" overflow-scroll="true">
        <ion-scroll zooming="true" direction="xy" min-zoom="1" overflow-scroll="false">

            <div class="list investment" ng-if="MsgNoData == null || MsgNoData == ''">

                <div class="item item-divider" style="background-color: #04bfbf; color: #fff;">
                    {{Title}}
                </div>

                <div class="item item-divider">
                    รหัสกองทุน : {{FUND_CODE}}
                </div>

                <div class="item" ng-repeat="objInvestmentTran in ListInvestmentTran">

                    <div>
                        <div style="float:left;" class="inv_sub_label">วันที่ทำรายการ</div>
                        <div align="right" class="inv_data">{{objInvestmentTran.EFFECT_DATE}}</div>
                    </div>
                    <div>
                        <div style="float:left;" class="inv_sub_label">รายละเอียดรายการ</div>
                        <div align="right" class="inv_data">{{objInvestmentTran.TRANSECTION_DETAIL}}</div>
                    </div>
                    <div>
                        <div style="float:left;" class="inv_sub_label">มุลค่าหน่วยลงทุน</div>
                        <!-- <div align="right" class="inv_data">{{objInvestmentTran.NOWPRICE}}</div> -->
                        <div align="right" class="inv_data" style="color: red;"
                            ng-if="ChkNegativeNumber(objInvestmentTran.NOWPRICE) == 'Y'">
                            {{objInvestmentTran.NOWPRICE}}</div>
                        <div align="right" class="inv_data"
                            ng-if="ChkNegativeNumber(objInvestmentTran.NOWPRICE) == 'N'">
                            {{objInvestmentTran.NOWPRICE}}</div>
                    </div>
                    <div>
                        <div style="float:left;" class="inv_sub_label">หน่วยลงทุน</div>
                        <div align="right" class="inv_data" style="color: red;"
                            ng-if="ChkNegativeNumber(objInvestmentTran.NOF_DUNIT) == 'Y'">
                            {{objInvestmentTran.NOF_DUNIT}}</div>
                        <div align="right" class="inv_data"
                            ng-if="ChkNegativeNumber(objInvestmentTran.NOF_DUNIT) == 'N'">
                            {{objInvestmentTran.NOF_DUNIT}}</div>
                        <!-- <div align="right" class="inv_data"
                            ng-if="objInvestmentTran.NOF_DUNIT != '' && objInvestmentTran.NOF_DUNIT != NULL">
                            {{objInvestmentTran.NOF_DUNIT}}</div>
                        <div align="right" class="inv_data"
                            ng-if="objInvestmentTran.NOF_DUNIT == '' || objInvestmentTran.NOF_DUNIT == NULL">-</div> -->
                    </div>
                    <div>
                        <div style="float:left;" class="inv_sub_label">มูลค่าการลงทุน</div>
                        <!--<div align="right" class="inv_data">{{objInvestmentTran.TRAN_PRICE}}</div>-->
                        <div align="right" class="inv_data" style="color: red;"
                            ng-if="ChkNegativeNumber(objInvestmentTran.TRAN_PRICE) == 'Y'">
                            {{objInvestmentTran.TRAN_PRICE}}</div>
                        <div align="right" class="inv_data"
                            ng-if="ChkNegativeNumber(objInvestmentTran.TRAN_PRICE) == 'N'">
                            {{objInvestmentTran.TRAN_PRICE}}</div>
                    </div>
<!--                    <div>-->
<!--                        <div style="float:left;" class="inv_sub_label">มูลค่าหน่วยลงทุนคงเหลือ</div>-->
<!--                        <div align="right" class="inv_data" style="color: red;"-->
<!--                            ng-if="ChkNegativeNumber(objInvestmentTran.UNIT) == 'Y'">-->
<!--                            {{objInvestmentTran.UNIT}}</div>-->
<!--                        <div align="right" class="inv_data"-->
<!--                            ng-if="ChkNegativeNumber(objInvestmentTran.UNIT) == 'N'">-->
<!--                            {{objInvestmentTran.UNIT}}</div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div style="float:left;" class="inv_sub_label">มูลค่าการลงทุนคงเหลือ</div>-->
<!--                        <div align="right" class="inv_data" style="color: red;"-->
<!--                            ng-if="ChkNegativeNumber(objInvestmentTran.INVEST_VALUE) == 'Y'">-->
<!--                            {{objInvestmentTran.INVEST_VALUE}}</div>-->
<!--                        <div align="right" class="inv_data"-->
<!--                            ng-if="ChkNegativeNumber(objInvestmentTran.INVEST_VALUE) == 'N'">-->
<!--                            {{objInvestmentTran.INVEST_VALUE}}</div>-->
<!--                    </div>-->
                </div>

            </div>

            <div align="center" ng-if="MsgNoData != null || MsgNoData != ''">
                <h4>{{MsgNoData}}</h4>
            </div>


            <!-- <div align="center">
                <div ui-sref="app.InsureInfoVw.InsuranceInfoVw" style="width:30%;" >
                    <button class="button button-block button-positive TokioBtn" >
                        ย้อนกลับ
                    </button>
                </div>
            </div> -->


            <div class="BottomPage">
                &nbsp;</br>&nbsp;
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>
