.card {
  margin: 0px !important;
}

.row {
  padding: 5px 20px !important;
}

.ShowCards {
  border: solid 0px red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.insureCard {
  width: 100% !important;
}

/* Base with Rider */
.card-base-rider .TextCardTitle {
  font-size: 1.167rem;
}
.card-base-rider .TextCard {
  color: black;
  font-size: 1.083rem;
}
.card-base-rider .TextCard_Small {
  color: black;
  font-size: 0.833rem;
}

.card-base-rider .item-in-card-top {
  font-weight: bold !important;
  color: "#8b5e3b" !important;
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  z-index: 999;
}

.card-base-rider .item-in-card-row1 {
  height: 14px;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  z-index: 999;
}
.card-base-rider .item-in-card-row2 {
  height: 14px;
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  z-index: 999;
}
.card-base-rider .item-in-card-row3 {
  height: 14px;
  position: absolute;
  top: 107px;
  left: 0;
  right: 0;
  z-index: 999;
}
.card-base-rider .item-in-card-row4 {
  height: 24px;
  position: absolute;
  top: 137px;
  left: 0;
  right: 0;
  z-index: 999;
}
.card-base-rider .item-in-card-row5 {
  height: 19px;
  position: absolute;
  top: 167px;
  left: 0;
  right: 0;
  z-index: 999;
}

.card-base-rider .item-in-card-bottom {
  height: 14px;
  color: "#36a8b6" !important;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 999;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
  .card-base-rider .TextCardTitle {
    font-size: 1rem;
  }
  .card-base-rider .TextCard {
    font-size: 0.9rem;
  }
  .card-base-rider .TextCard_Small {
    font-size: 0.7rem;
  }
}

@media only screen and (min-device-width: 414px) {
}

@media only screen and (min-device-width: 768px) {
  .row {
    padding: 5px 50px !important;
  }
  .card-base-rider .TextCardTitle {
    font-size: 2rem;
  }
  .card-base-rider .TextCard {
    font-size: 2rem;
  }
  .card-base-rider .TextCard_Small {
    font-size: 1.5rem;
  }
  .card-base-rider .item-in-card-top {
    top: 37px;
  }
  .card-base-rider .item-in-card-row1 {
    top: 137px;
  }
  .card-base-rider .item-in-card-row2 {
    top: 207px;
  }
  .card-base-rider .item-in-card-row3 {
    top: 267px;
  }
  .card-base-rider .item-in-card-row4 {
    top: 327px;
  }
  .card-base-rider .item-in-card-row5 {
    top: 387px;
  }
  .card-base-rider .item-in-card-bottom {
    bottom: 37px;
  }
  .txtLastedDate {
    position: relative;
    top: 300px;
  }
  .buttonBack {
    position: relative;
    top: 400px;
  }
}
