@font-face {
  font-family: "Sarabun";
  src: url(../../fonts/Sarabun-Regular.ttf);
}

@font-face {
  font-family: "SarabunBold";
  src: url(../../fonts/Sarabun-Bold.ttf);
}

.bar-subheader.has-tabs-top {
  top: 93px !important;
}

.has-subheader.has-tabs-top {
  top: 137px;
}

html {
  height: 100%;
}

.divPage {
  width: 100%;
  height: 100%;
  border: 0px solid red;

  padding: 15px 15px 15px 15px;
}

.BottomPage {
  height: 400px;
  padding-bottom: 10px;
  border: 0px solid red;
}
.BottomPageHome {
  height: 100px;
  padding-bottom: 10px;
  border: 0px solid red;
}

ion-scroll[direction="xy"] {
  width: 100vw;
  height: 100vh;
}
ion-scroll[direction="x"] {
  width: 100vw;
}
ion-scroll[direction="y"] {
  height: 100vh;
}

.logo-menu-image {
  display: block;
  border: 0px solid #fff;
  width: 110px;
  height: 100px;
  margin: 10px auto auto 80px;
  /*box-shadow: 0px 0px 14px rgba(0,0,0,0.7);*/
}

.LogoMenu {
  height: 100px !important;
  border-color: #d2d711 !important;
  background-color: #022b39 !important;
}

.TokioMenuBar {
  color: #d2d711 !important;
  font-size: 14px !important;

  border-color: #d2d711 !important;
  background-color: #022b39 !important; /*#ffffff;*/
  background-image: linear-gradient(
    0deg,
    #0c60ee,
    #0c60ee 50%,
    transparent 50%
  );

  height: 500px;
}

.HBD_h4 {
  text-align: center;
}
.HBD_SPAN {
  color: #0096a9;
}

.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

/*
 a.blue:link {color: #0000ff; background: #ffffff; font-weight: bold;}
 a.blue:active {color: #0000ff; background: #ffffff; font-weight: bold;}
 a.blue:visited {color: #0000ff; background: #ffffff; font-weight: bold;}
 a.blue:hover {color: #0000ff; background: #ffffff; font-weight: bolder;}
 
 
a.LabelLogInPage:link {color: #f4f4f4; background: #0096A9; font-style: italic;}
a.LabelLogInPage:active {color: #f4f4f4; background: #0096A9; font-style: italic;}
a.LabelLogInPage:visited {color: #f4f4f4; background: #0096A9; font-style: italic;}
a.LabelLogInPage:hover {color: #f4f4f4; background: #0096A9; font-style: normal;}

a.LabelLogInPage:link {color: #0000ff;  font-style: italic; font-weight: bold; font-size:12px;}
a.LabelLogInPage:active {color: #0000ff;  font-style: italic; font-weight: bold; font-size:12px;}
a.LabelLogInPage:visited {color: #0000ff;  font-style: italic; font-weight: bold; font-size:12px;}
a.LabelLogInPage:hover {color: #0000ff;  font-style: normal; font-weight: bold; font-size:12px;}
*/

.view-home-with-bg {
  background: url("../../Resources/images/bgTPHome.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/*.view-authorize-with-bg{
    
    background:url('../../Resources/images/BG_BG_Arc_01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}*/

/*.scroll-content {
    background:url('../../Resources/images/bgLoging.jpg') no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}*/

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*********************************** Fresh Theme ***********************************************/
/*.MainContentFresh{
    background-color:#022B39 !important;
}

.MainContentFresh .item{
    background-color:#022B39 !important;
}

.MainContentFresh .DivVersionText{
    color: #022B39;
    font-size: 14px;
    margin-top: 0px;
}

.MainContentFresh .divBlockLogin{
    width:80%;
    height:100%;
    border:0px solid green;
    
    padding-top:10px;
    margin-top:0px;
    padding-top:0px;
}

.MainContentFresh .DivLoginMenu{
    position:relative;
    height: 30% !important;
    border:0px solid red;
    margin-top:0px;
    padding-top:0px;
}
.MainContentFresh .DivLogin{
    position: absolute;
    width: 100%;
    text-align: center;
    border:0px solid yellow;
    padding-top:10px;
    
    vertical-align: middle;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}







.MainContentFresh .DivLoginInput{
    position: relative;
    width: 100%;
    text-align: center;
    border:0px solid blue;
    

   
}
.MainContentFresh .DivInputLogin{
    position:relative;
    
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    
    border:1px solid red;
    
    margin-top:10px;

    
}

.MainContentFresh .LabelRounded{
    border-radius:15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color:#A1BEE3;
    
    
    border:1px solid #0096A9;
}


.MainContentFresh .Login-Input{
    color: #F4F4F4 !important;
    
    font-size: 12px;
    font-weight:bold;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    width: 90%;
    height:25px;
}

.MainContentFresh .CaptionLabel{
    color:#D2D711 !important;
}
.MainContentFresh .SplitText{
    color: #F4F4F4 !important;
}

.MainContentFresh .DivFormContent{
    width:95%;
    height:100%;
    border:0px solid green;
    
    padding-top:10px;
}

.MainContentFresh .inputText{
    color: #F4F4F4 !important;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    width: 90%;
}

.MainContentFresh .DivFooterLogo{
    
    position: absolute;
    bottom: 0px;
    width: 90%;
    height:25%;
    z-index: -999;
    
    border:0px solid blue;

}

.MainContentFresh .DivArc{
    
    position: relative;
    bottom: 0px;
    width: 40%;
    height:100%;
    z-index: -999;
    
    border:0px solid Red;
    
}


.Logo-Arc-Normal{
    position: relative;
    width: 100%;
    height: 100%;
}


li {
    list-style-type: disc;
    list-style-image: url(bullet.gif);
    list-style-position: inside;
}*/
/****************************************************************************************************/

/*********************************** Dark Green Theme ***********************************************/
.MainContentDarkGreen {
  /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
  background-color: #022b39 !important;
}

.MainContentDarkGreen .item {
  background-color: #022b39 !important;
}

.MainContentDarkGreen .DivVersionText {
  /*color: #F4F4F4;*/ /*#444;*/
  color: #022b39;
  font-size: 14px;
  margin-left: 0px;
}

.MainContentDarkGreen .divBlockLogin {
  width: 80%;
  height: 100%;
  border: 0px solid green;

  padding-top: 10px;
}

.MainContentDarkGreen .DivLoginMenu {
  position: relative;
  height: 40% !important;
  /*padding-top:10px;*/
}
.MainContentDarkGreen .DivLogin {
  position: absolute;
  /*top: -95px;*/
  width: 100%;
  text-align: center;
  border: 0px solid blue;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainContentDarkGreen .LabelRounded {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #a1bee3;

  border: 1px solid #0096a9;
}

.MainContentDarkGreen .DivInputLogin {
  position: relative;

  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /*background-color:#022B39 !important;*/
}

li {
  list-style-type: disc;
  list-style-image: url(bullet.gif);
  list-style-position: inside;
}

.MainContentDarkGreen .Login-Input {
  color: #f4f4f4 !important;

  font-size: 12px;
  font-weight: bold;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  width: 90%;
}
.MainContentDarkGreen .CaptionLabel {
  color: #d2d711 !important;
}
.MainContentDarkGreen .SplitText {
  color: #f4f4f4 !important;
}

.MainContentDarkGreen .DivFormContent {
  width: 95%;
  height: 100%;
  border: 0px solid green;

  padding-top: 10px;
}

.MainContentDarkGreen .inputText {
  color: #f4f4f4 !important;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  width: 90%;
}
/****************************************************************************************************/

/*********************************** White Theme ***********************************************/
.MainContentWhite {
  /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
  /*background-color:#022B39 !important;*/
  background-color: #f4f4f4 !important;
}

.MainContentWhite .item {
  /*background-color:#022B39 !important;*/
  background-color: #f4f4f4 !important;
}

.MainContentWhite .DivVersionText {
  color: #0096a9; /*#444;*/
  font-size: 14px;
  margin-left: 0px;
}

.MainContentWhite .divBlockLogin {
  width: 80%;
  height: 100%;
  border: 0px solid green;

  padding-top: 10px;
}

.MainContentWhite .DivLoginMenu {
  position: relative;
  height: 40% !important;
  /*padding-top:10px;*/
}
.MainContentWhite .DivLogin {
  position: absolute;
  /*top: -95px;*/
  width: 100%;
  text-align: center;
  border: 0px solid blue;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainContentWhite .LabelRounded {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #a1bee3;

  border: 1px solid #0096a9;
}

.MainContentWhite .DivInputLogin {
  position: relative;

  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /*background-color:#F4F4F4 !important;*/
}

li {
  list-style-type: disc;
  list-style-image: url(bullet.gif);
  list-style-position: inside;
}

.MainContentWhite .Login-Input {
  /*color: #022B39 !important;*/
  color: #0096a9 !important;

  font-size: 12px;
  font-weight: bold;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  width: 90%;
}
.MainContentWhite .CaptionLabel {
  color: BDC3C7 !important;
  /*#BDC3C7, #D1DAD6*/
}
.MainContentWhite .SplitText {
  color: #0096a9 !important;
}

.MainContentWhite .DivFormContent {
  width: 80%;
  height: 100%;
  border: 0px solid green;

  padding-top: 10px;
}

.MainContentWhite .inputText {
  color: #0096a9 !important;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  width: 90%;
}
/***********************************************************************************************/

/*#E6EAEB,#60D1DB,#0096A9,#252525*/
.MainContent {
  /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
  background-color: #022b39 !important;
}
.MainContent .item {
  background-color: #022b39 !important;
}

#DivLoginText {
  color: #e6eaeb; /*#444;*/
  font-size: 20px;
  margin-left: 0px;
}

#DivVersionText {
  color: #e6eaeb; /*#444;*/
  font-size: 14px;
  margin-left: 0px;
}

.TokioBtn {
  background-color: #0096a9 !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  color: #d2d711 !important;
}

.TokioDownloadBtn {
  background-color: #0096a9 !important;
  white-space: normal;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /*color:#D2D711 !important;*/
}

.TokioDocCertificateDLBtn {
  background-color: #0096a9 !important;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  color: #f4f4f4 !important;
}
.TokioDocBillDLBtn {
  background-color: #022b39 !important;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  color: #d2d711 !important;
}
.TokioDocNotificateDLBtn {
  background-color: #0096a9 !important;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  color: #f4f4f4 !important;
}

.input-login {
  color: #e6eaeb !important;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  width: 90%;
}

.Logo-small {
  width: 50px;
  height: auto;
}

/*.Logo-normal{
  width: 150px;
  height: 150px;
}
.Logo-normal{
    width: 120px;
    height: 120px;
}
*/

.TokioBar {
  border-color: #d2d711 !important;
  background-color: #022b39 !important; /*#ffffff;*/
  background-image: linear-gradient(
    0deg,
    #0c60ee,
    #0c60ee 50%,
    transparent 50%
  );
  /*color:#000000;*/
  color: #d2d711 !important;
}
.button-clear {
  color: #d2d711 !important;
}

.TokioBarSubHeader {
  border-color: #0190a1;
  background-color: #00546c;
  background-image: linear-gradient(
    0deg,
    #0c60ee,
    #0c60ee 50%,
    transparent 50%
  );
  color: #000000;
  height: 20px;
  font-size: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  text-align: right;
}

.bar {
  /*height: 55px;*/
  height: 60px !important;
}

.bar-stable.bar .title {
  /*color:#0190A1 !important;*/
  color: #d2d711 !important;
  font-size: 14px !important;
}

.bar .title {
  font-size: 14px !important;
  font-weight: bold;
}

.menu {
  /*background-color: #00546C !important;*/
  background-color: #022b39 !important;
}

.ProfileMenu {
  height: 150px !important;
}

.LeftMenu .item-complex .item-content,
.item-radio .item-content {
  /*background-color: #00546C ;
  color:#E6EAEB ;*/
  background-color: #022b39;
  color: #e6eaeb;
}

.item {
  border-color: #0096a9 !important;
}

.LeftMenu a:hover {
  background-color: #0096a9 !important;
  color: #d2d711 !important;
}

.DivContent {
  padding-left: 10px;
  padding-right: 10px;
}

.input-label {
  color: #d2d711 !important;
  font-weight: bold;
}

.has-header {
  top: 60px !important;
}

.item-content {
  padding: 16px 16px 16px 16px !important;
}

/*a:hover{
   background-color: #00546C !important;
 }*/

#profile-bg {
  position: fixed;
  left: 0;
  top: 44px;
  width: 100%;
  height: 150px;

  /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
  background-size: 100%;
  background-position: 50% 20%;

  text-align: center;
}

#content {
  position: relative;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
  padding-top: 200px;
}

#profile-info {
  position: absolute;
  /*top: -95px;*/
  width: 100%;
  z-index: 2;
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
  margin-left: -35px;
}
#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}

#profile-image {
  display: block;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 110px;
  height: 64px;
  margin: 10px auto auto 65px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
}

.list-item-content {
  padding: 5px;
}

.list-item {
  color: #666666;
}

.post {
  color: #444;
}

.post-time {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
  color: #888;
}

.post-profile-image {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.post-options {
  position: absolute;
  font-size: 16px;
  right: 5px;
  bottom: 5px;
  color: #888;
}

.tabs-positive > .tabs,
.tabs-positive.tabs {
  background-color: #0096a9 !important;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  color: #d2d711 !important;
}

body {
  /*cursor: url('http://ionicframework.com/img/finger.png'), auto;*/
}
.pane,
.view {
  /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "Sarabun";
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

/*input{
  background-color: #99D9EA;
}*/

input {
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: solid 1px black;
  padding: 5px;
}

.tbHeaderData {
  background-color: #93cddd;
  align: center;
}

.tbData {
  width: 95%;
  border: 1px solid #0190a1;
}
.tbData tr {
  border: 1px solid #0190a1;
}
.tbData tr td {
  border: 1px solid #0190a1;
}

.MainHeaderBar {
  background-color: #00546c;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.HeaderData {
  background-color: #93cddd;
}
.SubHeaderData {
  background-color: #0096a9;
  color: #ffffff;
  padding-left: 10px;
  border: 0px solid #d2d711;
}
.SubHeaderData2 {
  background-color: #d1dad6;
  color: #ffffff;
  padding-left: 10px;
  border: 0px solid #d2d711;
}
.InsureNoContentText {
  background-color: #00546c;
  color: #ffffff;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}
.InsureNoContentData {
  background-color: #dbeef4;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}
.ContentText {
  color: #0190a1;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.ContentData {
  /*background-color: #DBEEF4;*/
  padding-right: 10px;
}

.ShowBorderBottomDot {
  border-bottom: 1px dotted #0190a1;
}

.divInsuranceNo {
  width: 100%;
  border: 1px solid #0190a1;
}

/*.tabs-top > .tabs, .tabs-top.tabs{
  Top:70px !important;
}*/

legend {
  font-size: 16px;
  font-weight: bold;
  color: #8e58a4;
  padding: 0px 3px;
}
fieldset {
  display: inline;
  width: 95%;
  /*margin-right:40px;*/
}

/* Gradient color1 - color2 - color1 */

hr.style-one {
  border: 0;
  height: 1px;
  background: #0190a1;
  background-image: linear-gradient(to right, #ccc, #0190a1, #ccc);
}

img.NewsMain {
  width: 100%;
  height: auto;
}

img.MiniMaps {
  width: 70px;
  height: 70px;
}

.tabs-top > .tabs,
.tabs-top.tabs {
  padding-top: 10px !important;
  top: 90px !important;
}

.has-tabs-top {
  top: 0px !important;
}

.scroll {
  height: 100%;
}

#map {
  width: 120px;
  height: 88px;
}

#LargeMap {
  width: 95%;
  height: 80%;
}

.NewText {
  color: red;
}

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  /* .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  } */
}
.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
  /* &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
  } */
}
/* //This will change */
/* .messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: black !important;
    background-color: #c7c7cc !important;
  }
} */
.DivMessage {
  background: #007aff !important;
  display: inline-block !important;
  color: white !important;
  /*padding: 10px !important;*/
  border-radius: 10px !important;
  /*text-align: left !important;*/
  /*max-width: 240px !important;*/
}

.imgCards {
  display: block;
  /*max-width:350px;
  max-height:350px;*/
  max-width: 439px;
  max-height: 350px;
  width: auto;
  height: auto;
  border: solid 0px green;

  /*position: relative;*/
}

.InsureTitle5 {
  top: 20px;
  left: -50px;
  width: 250px;
  margin-top: 0px;
  padding-top: 0px;
}

.InsureTitle {
  /*top: 6%;
  left: 30px;*/
  width: 300px;
  margin-top: 5px;
  margin-left: 10px;
  padding-top: 0px;
  z-index: 999;
  position: absolute;
  display: block;
}
.InsureNM {
  top: 140px;
  left: 30px;
  width: 320px;
}
.InsureNo {
  top: 160px;
  left: 30px;
  width: 320px;
}
.InsurePeriod {
  top: 180px;
  left: 30px;
  width: 320px;
}
.InsurePaymentME {
  top: 200px;
  left: 30px;
  width: 320px;
}
.InsureRamark1 {
  /*top: 130px;*/
  /*bottom:50px;*/
  top: 330px;
  left: 30px;
  width: 350px;
  font: 9px/23px Helvetica, Sans-Serif !important;
}
.InsureRamark2 {
  /*top: 150px;*/
  /*bottom:0px;*/
  top: 350px;
  left: 35px;
  width: 350px;
  font: 9px/23px Helvetica, Sans-Serif !important;
}
.InsureSignDT {
  top: 180px;
  left: 30px;
  width: 320px;
}
.InsureCoverageDT {
  top: 200px;
  left: 30px;
  width: 320px;
}
.InsureRoomRate {
  top: 220px;
  left: 30px;
  width: 320px;
}
.InsureAcident {
  top: 240px;
  left: 30px;
  width: 320px;
}
.InsureAcidentHS {
  top: 240px;
  left: 130;
  width: 250px;
}
.InsureHSNCoverageDT {
  top: 200px;
  left: 130px;
  width: 200px;
}
.InsureHSHCCoverageDT {
  top: 200px;
  left: 250px;
  width: 200px;
}
.InsureHSNRoomRate {
  top: 220px;
  left: 130px;
  width: 200px;
}
.InsureHSHCRoomRate {
  top: 220px;
  left: 225px;
  width: 200px;
}

.InsureHSHCAcident {
  top: 240px;
  left: 234px;
  width: 200px;
}
.InsureOPD {
  top: 260px;
  left: 30px;
  width: 320px;
}

.TextCard_PA_ID {
  position: absolute;
  top: 160px;
  left: 60px;
  width: 250px;

  color: black;
  font: bold 12px/25px Helvetica, Sans-Serif;
  letter-spacing: 1px;
  /*background: rgb(0, 0, 0); /* fallback color */
  /*background: rgba(0, 0, 0, 0.0);*/
  background-color: #a1d2f2;
  padding: 1px;
  margin-left: 20px;
}

.TextCard_Insure_ID {
  position: absolute;
  top: 210px;
  left: 50px;
  width: 150px;

  color: black;
  font: bold 12px/25px Helvetica, Sans-Serif;
  letter-spacing: 1px;
  /*background-color: black;*/ /* fallback color */
  /*background: rgba(0, 0, 0, 0.4);*/
  background-color: #a1d2f2;
  padding: 1px;
  padding-left: 10px;
  margin-left: 95px;
}

.TextCard_Insure_Period {
  position: absolute;
  top: 234px;
  left: 50px;
  /*width: 100%;*/
  width: 200px;
  height: 15px;
  padding-top: 100px;

  color: black;
  font: bold 12px/25px Helvetica, Sans-Serif;
  letter-spacing: 1px;
  /*background-color: black; */ /* fallback color */
  /*background: rgba(0, 0, 0, 0.4);*/
  background-color: #a1d2f2;
  padding: 1px;
  padding-left: 10px;
  margin-left: 95px;
}

/**/

.holder_wrap {
  position: relative;
  margin: auto;
  display: block;
  height: 493px; /* กำหนดความสูงส่วนพื้นที่คลุมเนื้อหาทั้งหมด */

  max-width: 439px;
  max-height: 350px;
}
.holder_wrap_img {
  position: absolute; /* กำหนดการจัดตำแหน่งส่วนพื้นที่คลุมเนื้อหารุปและข้อความซ้อนทับ */
}
.holder_wrap_img img {
  position: relative; /* กำหนดการจัดตำแหน่งของรูป */
}
/* css ซ้อนทับ ชิดขอบบน */
.inner_position_top {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 0px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
}
/* css ซ้อนทับ ชิดขอบด้านซ้าย */
.inner_position_left {
  position: absolute;
  display: block;
  background-color: #99ffcc;
  height: 100%; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  width: 50px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ */
  top: 0px; /* css กำหนดชิดด้านบน  */
  left: 0px; /* css กำหนดชิดซ้าย  */
  z-index: 999;
}
/* css ซ้อนทับ ชิดขอบล่าง */
.inner_position_bottom {
  position: absolute;
  display: block;
  background-color: #ffcccc;
  height: 50px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  bottom: 0px; /* css กำหนดชิดด้านล่าง  */
  z-index: 999;
}
/* css ซ้อนทับ ชิดขอบด้านขวา */
.inner_position_right {
  position: absolute;
  display: block;
  background-color: #ffff99;
  height: 100%; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  width: 50px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ */
  top: 0px; /* css กำหนดชิดด้านบน  */
  right: 0px; /* css กำหนดชิดขวา  */
  z-index: 999;
}

/**/

/* Type 3 Only */
/* css Card Name */
.InsNMType3 {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 100px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  /*left:140px;*/

  font-weight: bold;
  font-size: 100%;
}
/* css Card Insurance No */
.InsNoType3 {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 120px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  /*left:90px;*/

  font-weight: bold;
  font-size: 100%;
}
.InsSignDTType3 {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 140px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  /*left:110px;*/

  font-weight: bold;
  font-size: 100%;
}
/* End Type 3 Only */

/* css Card Title */
.InsTitle {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 30px; /* css กำหนดชิดด้านบน  */
  z-index: 999;

  left: 10px;
}
/* css Card Name */
.InsNM {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 45px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}
/* css Card Insurance No */
.InsNo {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 60px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}

.InsSignDT {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 75px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}

.InsPeriod {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 75px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}

.InsCoverageDT {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 90px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}

.InsHSNCoverageDT {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 90px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 120px;
}
.InsHSHCCoverageDT {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 90px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 162px;
}

.InsRoomRate {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 105px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}
.InsHSNRoomRate {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 105px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 120px;
}
.InsHSHCRoomRate {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 105px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 145px;
}
.InsAcident {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 120px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}
.InsAcidentHS {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 120px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 120px;
}
.InsHSHCAcident {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 120px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 154px;
}
.InsOPD {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 135px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}
.InsRamark1 {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 240px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
  font: 9px/23px Helvetica, Sans-Serif !important;
}
.InsRamark2 {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 255px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
  font: 9px/23px Helvetica, Sans-Serif !important;
}
.InsPaymentME {
  position: absolute;
  display: block;
  /*background-color:#CC99FF;*/
  height: 14px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
  width: 320px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
  top: 90px; /* css กำหนดชิดด้านบน  */
  z-index: 999;
  left: 10px;
}

/**************************************** Lasted Info Date : Style **************************************************/
.txtLastedDate {
  color: black;
  font: 11px/23px Helvetica, Sans-Serif;
}
/****************************************RWD : Responsive Web Development **************************************************/

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_1224.png");
    /*width:1224px;
        height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_1224.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 170px;
    height: 170px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_1224.png");
    /*width:1824px;
        height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_1824.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 170px;
    height: 170px;
  }
}

/******************************************************************************************/

/*.view-home-with-bg{
 
 
 background:url('../../Resources/images/bgTPHome.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}
 .view-authorize-with-bg{
 
 background:url('../../Resources/images/BG_BG_Arc_01.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 
 }
 */

.view-authorize-with-bg {
  width: 100%;
  background-size: 100% 100%;
}
.view-profile-setting-with-bg {
  width: 100%;
  background-size: 100% 100%;
}

.view-ctc-setting-with-bg {
  background-color: #0096a9 !important;
  /*width:480px;
     height:auto;*/
  background-size: cover;
}

fieldset {
  padding: 1em;
  font: 80%/1 sans-serif;
  width: 95%;
}
legend {
  padding: 0.2em 0.5em;
  border: 0px solid green;
  color: #022b39;
  font-size: 14px;
  text-align: left;
  width: auto;
}

.CTCContent {
  width: 100%;
  height: 90%;

  border: 0px solid blue;
}
.CTCList {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.metro-surface {
  /*padding: 40px 0px 0px 0px;*/
  padding: 0px 0px 0px 0px;
}

.metro-tile {
  background-color: #0096a9; /*#D8512B;*/
  /*border-color: #D2D711;*/ /*#DC6241;*/
  /*width: 232px;
    height: 104px;*/
  padding: 5px;
  color: #fff;
  font-family: "Sarabun";
  font-size: 12px;
  border-width: 3px;
  border-style: solid;
  cursor: default;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  transition: 0.1s all;
}

.metro-tile-small {
  width: 104px;
  height: 104px;
}

/*.metro-tile-ctc {
    width: 250px;
    height: 250px;
}*/

/*
.metro-tile-CTC1{
    border-top: 1px solid #0096A9;
    border-right: 1px solid #D2D711;
    border-bottom: 1px solid #D2D711;
    border-left: 1px solid #0096A9;
    
}
.metro-tile-CTC2{
    border-top: 1px solid #0096A9;
    border-right: 1px solid #0096A9;
    border-bottom: 1px solid #D2D711;
    border-left: 1px solid #D2D711;
}
.metro-tile-CTC3{
    border-top: 1px solid #D2D711;
    border-right: 1px solid #D2D711;
    border-bottom: 1px solid #0096A9;
    border-left: 1px solid #0096A9;
}
.metro-tile-CTC4{
    border-top: 1px solid #0096A9;
    border-right: 1px solid #0096A9;
    border-bottom: 1px solid #0096A9;
    border-left: 1px solid #D2D711;
}
*/

.metro-tile-CTCAddress {
  border-top: 1px solid #0096a9;
  border-right: 1px solid #0096a9;
  border-bottom: 1px solid #d2d711;
  border-left: 1px solid #0096a9;

  padding-bottom: 10px;
}
.metro-tile-CTCCallCenter {
  border-top: 1px solid #d2d711;
  border-right: 1px solid #d2d711;
  border-bottom: 1px solid #0096a9;
  border-left: 1px solid #0096a9;
}
.metro-tile-CTCEmail {
  border-top: 1px solid #d2d711;
  border-right: 1px solid #0096a9;
  border-bottom: 1px solid #0096a9;
  border-left: 1px solid #d2d711;
}

/*.metro-tile-store {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Store.png);
    background-color: #2878EC;
    border-color: #2878EC;
}


.metro-tile-xbox {
    background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/XBox.png);
    background-position: 8px 8px;
    background-color:#6CB71E;
    border-color:#6CB71E;
}
*/

div.metro-tile:hover {
  -webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  -moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  -ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  border-width: 3px;
  border-style: solid;
}
