/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_480.png");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_480.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 100px;
    height: 100px;
  }

  .ManualImg {
    width: 250;
    height: 300px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_1024.png");
    /*width:321px;
         height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_480.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 100px;
    height: 100px;
  }

  .ManualImg {
    width: 250;
    height: 300px;
  }

  .TokioLogInBtn {
    background-color: #0096a9 !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    height: 30px !important;
    min-height: 10px !important;
    line-height: 30px !important;

    font-size: 14px !important;

    width: 100%;

    color: #d2d711 !important;
  }

  a.LabelLogInPage:link {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  a.LabelLogInPage:active {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  a.LabelLogInPage:visited {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  a.LabelLogInPage:hover {
    color: #022b39;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }

  /*********************************** Fresh Theme ***********************************************/
  .MainContentFresh {
    /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
    background-color: #022b39 !important;
  }

  .MainContentFresh .item {
    background-color: #022b39 !important;
  }

  .MainContentFresh .DivVersionText {
    /*color: #F4F4F4;*/ /*#444;*/
    color: #022b39;
    font-size: 14px;
    margin-top: 0px;
  }

  .MainContentFresh .divBlockLogin {
    width: 100%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .DivLoginMenu {
    position: relative;
    height: 25% !important;
    /*padding-top:10px;*/
    border: 0px solid red;
    margin-top: 10px;
    padding-top: 10px;
  }
  .MainContentFresh .DivLogin {
    position: absolute;
    /*top: -95px;*/
    width: 100%;
    /*height: 100% !important;*/
    text-align: center;
    border: 0px solid yellow;
    padding-top: 10px;

    vertical-align: middle;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MainContentFresh .DivLoginInput {
    position: relative;
    /*top: 40%;*/
    width: 100%;
    text-align: center;
    border: 0px solid blue;
  }
  .MainContentFresh .DivInputLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 10px;
  }
  .MainContentFresh .DivButtonLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .LabelRounded {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /*background-color:#A1BEE3;*/
    background-color: #ffffff !important;

    border: 1px solid #0096a9;
  }

  .MainContentFresh .Login-Input {
    /*color: #F4F4F4 !important;*/
    color: #022b39 !important;

    font-size: 12px;
    font-weight: bold;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    width: 90%;
    height: 20px;
  }

  .MainContentFresh .CaptionLabel {
    color: #d2d711 !important;
  }
  .MainContentFresh .SplitText {
    color: #f4f4f4 !important;
  }

  .MainContentFresh .DivFormContent {
    width: 95%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
  }

  .MainContentFresh .inputText {
    color: #022b39 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .inputTextTransparent {
    color: #022b39 !important;
    background: transparent !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;

    height: 20px;
  }

  .MainContentFresh .inputLogin {
    color: #f4f4f4 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .DivFooterLogo {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    width: 90%;
    height: 25%;
    z-index: -999;

    border: 0px solid blue;
  }

  .MainContentFresh .DivFooter {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    z-index: -999;

    border: 0px solid blue;

    background-color: #d2d711;
    color: #022b39;
    font-size: 8px;
    vertical-align: middle !important;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .MainContentFresh .DivArc {
    position: relative;
    bottom: 0px;
    width: 90px;
    height: 100%;
    z-index: -999;

    padding-right: 0px;

    border: 0px solid Red;
  }

  .Logo-Arc-Normal {
    position: relative;
    width: 100%;
    height: 100%;
  }

  li {
    list-style-type: disc;
    list-style-image: url(bullet.gif);
    list-style-position: inside;
  }
  .MainContentFresh .DivLogoHome {
    padding-top: 70px;
  }

  /****************************************************************************************************/

  /*Smartphones (landscape) */
  .divCTC {
    height: 70%;
    width: 95%;
    border: 0px solid black !important;

    padding-top: 10px;
  }

  .divCTCDetail {
    height: 40% !important;
    width: 100%;
    border: 0px solid red !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .metro-tile-ctc {
    width: 130px;
  }

  .CTCImg {
    width: 30px;
    height: 20px;
  }

  .CTCTopic {
    font-size: 14px;
    color: #ffffff;

    border: 0px solid red;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .CTCDetail {
    font-size: 10px;
    color: #d2d711;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 0px solid blue;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .CTCCaption {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid yellow !important;
  }
  .CTCText {
    color: #d2d711 !important;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid blue !important;
  }

  .CTCBindingText {
    margin: 0 0 0 0 !important;
  }

  .DivHome {
    /*position:absolute;
         width: 100%;
         text-align: center;
         border:10px solid blue;
         
         
         /*top: 0%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-25%);*/

    /*background: url('../Resources/images/bgWelcome.png') !important;*/
  }

  .divNewsMain {
    border: 0px solid blue;
    height: 100%;
  }

  .divNewsMainImg {
    height: 60%;
    width: 100%;
    border: 0px solid red;
  }
  .NewsMainImg {
    max-width: 100%;
    max-height: 100%;
  }

  .divNewsList {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 2px;
  }
  .tblNewsList {
    width: 100%;
    border: 0px solid #022b39;
  }

  .tblNewsList tr td {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 5px;
  }
  .tblNewsList .trNewsListImg {
    width: 30%;
    height: 50px;
    border: 0px solid blue;
  }
  .tblNewsList .trNewsListContent {
    width: 70%;
    height: 50px;
    border: 0px solid blue;
    vertical-align: top;
  }

  .divMainListImg {
    width: 100%;
    border: 1px solid #0096a9;
  }
  .NewsListImg {
    max-width: 100%;
    max-height: auto;
  }
}

/* Smartphones (portrait) ----------- */
/*@media only screen
 and (min-device-width : 768px)
 and (max-device-width : 1024px)
 and (orientation : portrait) {*/
/*@media only screen
 and (max-width : 320px) {*/
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_480.png");
    /*width:320px;
         height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_320.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 100px;
    height: 100px;
  }

  .ManualImg {
    width: 250;
    height: 300px;
  }

  .TokioLogInBtn {
    background-color: #0096a9 !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    height: 30px !important;
    min-height: 10px !important;
    line-height: 30px !important;

    font-size: 14px !important;

    width: 100%;

    color: #d2d711 !important;
  }

  a.LabelLogInPage:link {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  a.LabelLogInPage:active {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  a.LabelLogInPage:visited {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  a.LabelLogInPage:hover {
    color: #022b39;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }

  /*********************************** Fresh Theme ***********************************************/
  .MainContentFresh {
    /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
    background-color: #022b39 !important;
  }

  .MainContentFresh .item {
    background-color: #022b39 !important;
  }

  .MainContentFresh .DivVersionText {
    /*color: #F4F4F4;*/ /*#444;*/
    color: #022b39;
    font-size: 14px;
    margin-top: 0px;
  }

  .MainContentFresh .divBlockLogin {
    width: 80%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .DivLoginMenu {
    position: relative;
    height: 25% !important;
    /*padding-top:10px;*/
    border: 0px solid red;
    margin-top: 10px;
    padding-top: 10px;
  }
  .MainContentFresh .DivLogin {
    position: absolute;
    /*top: -95px;*/
    width: 100%;
    /*height: 100% !important;*/
    text-align: center;
    border: 0px solid yellow;
    padding-top: 10px;

    vertical-align: middle;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MainContentFresh .DivLoginInput {
    position: relative;
    /*top: 40%;*/
    width: 100%;
    text-align: center;
    border: 0px solid blue;
  }
  .MainContentFresh .DivInputLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 10px;
  }
  .MainContentFresh .DivButtonLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .LabelRounded {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /*background-color:#A1BEE3;*/
    background-color: #ffffff !important;

    border: 1px solid #0096a9;
  }

  .MainContentFresh .Login-Input {
    /*color: #F4F4F4 !important;*/
    color: #022b39 !important;

    font-size: 12px;
    font-weight: bold;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    width: 90%;
    height: 20px;
  }

  .MainContentFresh .CaptionLabel {
    color: #d2d711 !important;
  }
  .MainContentFresh .SplitText {
    color: #f4f4f4 !important;
  }

  .MainContentFresh .DivFormContent {
    width: 95%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
  }

  .MainContentFresh .inputText {
    color: #022b39 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .inputTextTransparent {
    color: #022b39 !important;
    background: transparent !important;
    font-size: 12px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
    height: 20px;
  }

  .MainContentFresh .inputLogin {
    color: #f4f4f4 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .DivFooterLogo {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25%;
    z-index: -999;

    border: 0px solid blue;

    /*padding-right:50px;*/
  }

  .MainContentFresh .DivFooter {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;
    z-index: -999;

    border: 0px solid blue;

    background-color: #d2d711;
    color: #022b39;
    font-size: 12px;
    vertical-align: middle !important;
    padding-top: 10px;
  }

  .MainContentFresh .DivArc {
    position: relative;
    bottom: 0px;
    width: 55%;
    height: 100%;
    z-index: -999;

    border: 0px solid Red;
    padding-top: 10px;
    padding-right: 50px;
  }

  .Logo-Arc-Normal {
    position: relative;
    width: 100%;
    height: 100%;
  }

  li {
    list-style-type: disc;
    list-style-image: url(bullet.gif);
    list-style-position: inside;
  }
  /****************************************************************************************************/

  .divCTC {
    height: 80%;
    width: 80%;
    border: 0px solid black !important;

    padding-top: 40px;
  }

  .divCTCDetail {
    height: 50% !important;
    width: 100%;
    border: 0px solid red !important;
    padding-top: 10px !important;
  }

  .metro-tile-ctc {
    width: 130px;
    height: 130px;
  }

  .CTCImg {
    width: 50px;
    height: 40px;
  }

  .CTCTopic {
    font-size: 14px;
    color: #ffffff;
    padding-top: 0px;
    border: 0px solid red;
  }
  .CTCDetail {
    font-size: 10px;
    color: #d2d711;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 0px solid blue;
  }

  .CTCCaption {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid yellow !important;
  }
  .CTCText {
    color: #d2d711 !important;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid blue !important;
  }

  .CTCBindingText {
    margin: 0 0 0 0 !important;
  }

  .divNewsMain {
    border: 0px solid blue;
    height: 60%;
  }

  .divNewsMainImg {
    height: 60%;
    width: 100%;
    border: 0px solid red;
  }
  .NewsMainImg {
    max-width: 100%;
    max-height: 100%;
  }

  .divNewsList {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 2px;
  }
  .tblNewsList {
    width: 100%;
    border: 0px solid #022b39;
  }

  .tblNewsList tr td {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 5px;
  }
  .tblNewsList .trNewsListImg {
    width: 30%;
    height: 50px;
    border: 0px solid blue;
  }
  .tblNewsList .trNewsListContent {
    width: 70%;
    height: 50px;
    border: 0px solid blue;
    vertical-align: top;
  }

  .divNewsListImg {
    width: 100%;
    border: 1px solid #0096a9;
  }
  .NewsListImg {
    max-width: 100%;
    max-height: auto;
  }
}
