/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_1024.png");
    /*width:1024px;
         height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_1024.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 150px;
    height: 150px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_1024.png") repeat-y
      center center fixed;
    /*width:1024px;
         height:auto;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0px;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_1024.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 150px;
    height: 150px;
  }

  .TokioLogInBtn {
    background-color: #0096a9 !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    height: 50px !important;
    min-height: 10px !important;
    line-height: 50px !important;

    font-size: 18px !important;

    width: 100%;

    color: #d2d711 !important;
  }

  a.LabelLogInPage:link {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
  }
  a.LabelLogInPage:active {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
  }
  a.LabelLogInPage:visited {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
  }
  a.LabelLogInPage:hover {
    color: #022b39;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  /*********************************** Fresh Theme ***********************************************/
  .MainContentFresh {
    /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
    background-color: #022b39 !important;
  }

  .MainContentFresh .item {
    background-color: #022b39 !important;
  }

  .MainContentFresh .DivVersionText {
    /*color: #F4F4F4;*/ /*#444;*/
    color: #022b39;
    font-size: 14px;
    margin-top: 0px;
  }

  .MainContentFresh .divBlockLogin {
    width: 50%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .DivLoginMenu {
    position: relative;
    height: 25% !important;
    /*padding-top:10px;*/
    border: 0px solid red;
    margin-top: 10px;
    padding-top: 10px;
  }
  .MainContentFresh .DivLogin {
    position: absolute;
    /*top: -95px;*/
    width: 100%;
    /*height: 100% !important;*/
    text-align: center;
    border: 0px solid yellow;
    padding-top: 10px;

    vertical-align: middle;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MainContentFresh .DivLoginInput {
    position: relative;
    /*top: 40%;*/
    width: 100%;
    text-align: center;
    border: 0px solid blue;
  }
  .MainContentFresh .DivInputLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 10px;
  }
  .MainContentFresh .DivButtonLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .LabelRounded {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /*background-color:#A1BEE3;*/
    background-color: #ffffff !important;

    border: 1px solid #0096a9;
  }

  .MainContentFresh .Login-Input {
    /*color: #F4F4F4 !important;*/
    color: #022b39 !important;

    font-size: 12px;
    font-weight: bold;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    width: 90%;
    height: 35px;
  }

  .MainContentFresh .CaptionLabel {
    color: #d2d711 !important;
  }
  .MainContentFresh .SplitText {
    color: #f4f4f4 !important;
  }

  .MainContentFresh .DivFormContent {
    width: 95%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
  }

  .MainContentFresh .inputText {
    color: #022b39 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .inputTextTransparent {
    color: #022b39 !important;
    background: transparent !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;

    height: 35px;
  }

  .MainContentFresh .inputLogin {
    color: #f4f4f4 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .DivFooterLogo {
    position: fixed;
    bottom: 0px;
    width: 80%;
    height: 25%;
    z-index: -999;

    border: 0px solid blue;
  }

  .MainContentFresh .DivFooter {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 150px;
    z-index: -999;

    border: 0px solid blue;

    background-color: #d2d711;
    color: #022b39;
    font-size: 24px;
    vertical-align: middle !important;

    padding-top: 20px;
  }

  .MainContentFresh .DivArc {
    position: relative;
    bottom: 0px;
    width: 30%;
    height: 100%;
    z-index: -999;

    border: 0px solid Red;
  }

  .Logo-Arc-Normal {
    position: relative;
    width: 100%;
    height: 100%;
  }

  li {
    list-style-type: disc;
    list-style-image: url(bullet.gif);
    list-style-position: inside;
  }
  /****************************************************************************************************/

  /*Tablet (landscape) */
  .divCTC {
    height: 70%;
    width: 80%;
    border: 0px solid black !important;

    padding-top: 40px;
  }

  .divCTCDetail {
    height: 40% !important;
    width: 100%;
    border: 0px solid red !important;
    padding-top: 50px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .metro-tile-ctc {
    width: 130px;
  }

  .CTCImg {
    width: 80px;
    height: 70px;
  }

  .CTCTopic {
    font-size: 18px;
    color: #ffffff;

    border: 0px solid red;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .CTCDetail {
    font-size: 14px;
    color: #d2d711;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 0px solid blue;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .CTCCaption {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid yellow !important;
  }
  .CTCText {
    color: #d2d711 !important;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid blue !important;
  }

  .CTCBindingText {
    margin: 0 0 0 0 !important;
  }

  .divNewsMain {
    border: 0px solid blue;
    height: 100%;
  }

  .divNewsMainImg {
    height: 60%;
    width: 100%;
    border: 0px solid red;
  }
  .NewsMainImg {
    max-width: 100%;
    max-height: 100%;
  }

  .divNewsList {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 2px;
  }
  .tblNewsList {
    width: 100%;
    border: 0px solid #022b39;
  }

  .tblNewsList tr td {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 5px;
  }
  .tblNewsList .trNewsListImg {
    width: 30%;
    height: 50px;
    border: 0px solid blue;
  }
  .tblNewsList .trNewsListContent {
    width: 70%;
    height: 50px;
    border: 0px solid blue;
    vertical-align: top;
  }

  .divMainListImg {
    width: 100%;
    border: 1px solid #0096a9;
  }
  .NewsListImg {
    max-width: 100%;
    max-height: auto;
  }
}

/* Tablet (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */

  .view-authorize-with-bg {
    background-image: url("../../Resources/images/BG004_768.png");
    /*width:1024px;
         height:auto;*/
    background-size: cover;
  }

  .view-profile-setting-with-bg {
    background-image: url("../../Resources/images/BGSetting001_1024.jpg");
    /*width:480px;
         height:auto;*/
    background-size: cover;
  }

  .Logo-normal {
    width: 150px;
    height: 150px;
  }

  .TokioLogInBtn {
    background-color: #0096a9 !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    height: 50px !important;
    min-height: 10px !important;
    line-height: 50px !important;

    font-size: 18px !important;

    width: 100%;

    color: #d2d711 !important;
  }

  a.LabelLogInPage:link {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
  }
  a.LabelLogInPage:active {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
  }
  a.LabelLogInPage:visited {
    color: #022b39;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
  }
  a.LabelLogInPage:hover {
    color: #022b39;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  /*********************************** Fresh Theme ***********************************************/
  .MainContentFresh {
    /*background-image: url('/Resources/images/TestImg.jpg') !important;*/
    background-color: #022b39 !important;
  }

  .MainContentFresh .item {
    background-color: #022b39 !important;
  }

  .MainContentFresh .DivVersionText {
    /*color: #F4F4F4;*/ /*#444;*/
    color: #022b39;
    font-size: 14px;
    margin-top: 0px;
  }

  .MainContentFresh .divBlockLogin {
    width: 50%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .DivLoginMenu {
    position: relative;
    height: 25% !important;
    /*padding-top:10px;*/
    border: 0px solid red;
    margin-top: 10px;
    padding-top: 10px;
  }
  .MainContentFresh .DivLogin {
    position: absolute;
    /*top: -95px;*/
    width: 100%;
    /*height: 100% !important;*/
    text-align: center;
    border: 0px solid yellow;
    padding-top: 10px;

    vertical-align: middle;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MainContentFresh .DivLoginInput {
    position: relative;
    /*top: 40%;*/
    width: 100%;
    text-align: center;
    border: 0px solid blue;
  }
  .MainContentFresh .DivInputLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 10px;
  }
  .MainContentFresh .DivButtonLogin {
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:#022B39 !important;*/

    border: 0px solid red;

    margin-top: 0px;
    padding-top: 0px;
  }

  .MainContentFresh .LabelRounded {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /*background-color:#A1BEE3;*/
    background-color: #ffffff !important;

    border: 1px solid #0096a9;
  }

  .MainContentFresh .Login-Input {
    /*color: #F4F4F4 !important;*/
    color: #022b39 !important;

    font-size: 12px;
    font-weight: bold;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    width: 90%;
    height: 35px;
  }

  .MainContentFresh .CaptionLabel {
    color: #d2d711 !important;
  }
  .MainContentFresh .SplitText {
    color: #f4f4f4 !important;
  }

  .MainContentFresh .DivFormContent {
    width: 95%;
    height: 100%;
    border: 0px solid green;

    padding-top: 10px;
  }

  .MainContentFresh .inputText {
    color: #022b39 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .inputTextTransparent {
    color: #022b39 !important;
    background: transparent !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;

    height: 35px;
  }

  .MainContentFresh .inputLogin {
    color: #f4f4f4 !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 90%;
  }

  .MainContentFresh .DivFooterLogo {
    position: fixed;
    bottom: 0px;
    width: 90%;
    height: 25%;
    z-index: -999;

    border: 0px solid blue;
  }

  .MainContentFresh .DivFooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 150px;
    z-index: -999;

    border: 0px solid blue;

    background-color: #d2d711;
    color: #022b39;
    font-size: 24px;
    vertical-align: middle !important;

    padding-top: 20px;
  }

  .MainContentFresh .DivArc {
    position: relative;
    bottom: 0px;
    width: 40%;
    height: 100%;
    z-index: -999;

    border: 0px solid Red;
  }

  .Logo-Arc-Normal {
    position: relative;
    width: 100%;
    height: 100%;
  }

  li {
    list-style-type: disc;
    list-style-image: url(bullet.gif);
    list-style-position: inside;
  }
  /****************************************************************************************************/

  .divCTC {
    height: 70%;
    width: 70%;
    border: 0px solid black !important;

    padding-top: 40px;
  }

  .divCTCDetail {
    height: 40% !important;
    width: 100%;
    border: 0px solid red !important;
    padding-top: 50px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .metro-tile-ctc {
    width: 130px;
  }

  .CTCImg {
    width: 80px;
    height: 70px;
  }

  .CTCTopic {
    font-size: 18px;
    color: #ffffff;

    border: 0px solid red;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .CTCDetail {
    font-size: 14px;
    color: #d2d711;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 0px solid blue;

    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .CTCCaption {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid yellow !important;
  }
  .CTCText {
    color: #d2d711 !important;

    padding-top: 0px !important;
    padding-bottom: 0px !important;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

    border: 0px solid blue !important;
  }

  .CTCBindingText {
    margin: 0 0 0 0 !important;
  }

  .divNewsMain {
    border: 0px solid blue;
    height: 60%;
  }

  .divNewsMainImg {
    height: 60%;
    width: 100%;
    border: 0px solid red;
  }
  .NewsMainImg {
    max-width: 100%;
    max-height: 100%;
  }

  .divNewsList {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 2px;
  }
  .tblNewsList {
    width: 100%;
    border: 0px solid #022b39;
  }

  .tblNewsList tr td {
    border: 0px solid #022b39;
    padding: 2px 2px 2px 5px;
  }
  .tblNewsList .trNewsListImg {
    width: 30%;
    height: 50px;
    border: 0px solid blue;
  }
  .tblNewsList .trNewsListContent {
    width: 70%;
    height: 50px;
    border: 0px solid blue;
    vertical-align: top;
  }

  .divNewsListImg {
    width: 100%;
    border: 1px solid #0096a9;
  }
  .NewsListImg {
    max-width: 100%;
    max-height: auto;
  }
}
