.inv_title {
  color: #000;
}

.investment i {
  height: 30% !important;
}

.inv_label {
  color: #0190a1;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.inv_sub_label {
  color: #808080;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.inv_data {
  padding-right: 10px;
}

